/* Reset CSS */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{border:0;outline:0;font-size:100%;font:inherit;vertical-align:baseline;background:transparent;margin:0;padding:0} body{line-height:1} ol,ul{list-style:none} blockquote,q{quotes:none} blockquote:before,blockquote:after,q:before,q:after{content:none} ins{text-decoration:none} del{text-decoration:line-through} table{border-collapse:collapse;border-spacing:0} a{font-size:100%;vertical-align:baseline;background:transparent;margin:0;padding:0} .group:after{content:"";display:table;clear:both;}

		
/* MOBILE FIRST */
/* Site was built at 320px and scales up */ 

a, button{ 
-webkit-transition: all  0.2s ease-in-out;
	-moz-transition: all  0.2s ease-in-out;
	-ms-transition: all  0.2s ease-in-out;
	-o-transition: all  0.2s ease-in-out;
	transition: all  0.2s ease-in-out;
}
img { -ms-interpolation-mode: bicubic; }

/* Main CSS */
* {box-sizing: border-box;}

body{
	text-align: center;
	font-family: "raleway",sans-serif;
	font-style: normal;
	font-weight: 400;
	line-height: 34px;
	font-size: 16px;
	letter-spacing: 1px;
	background-color: #8a0606;
}
.color-red{ 
	color: #ec040d;
}

main{	
	display: block;
	width: 100%; 
	height: 100%;
	position: relative;
	background: url("../img/background.jpg") no-repeat top center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-color: #ffffff;
}
main .info{ 
	height: 100%;
	padding-top: 70px;
	
}
main .logo{ 
	max-width: 220px;
	width: 80%; 
	margin:  0 auto 40px auto;
}
main .logo img{ 
	width: 100%;
}
main .lg-callout{ 
	display: none;
	float: right;
	font-family: "yrsa", sans-serif;
	font-size: 6.25vw;
	line-height: 6vw;
	margin-top: 7%;
	text-align: right;
	margin-right: 5%;
}
main .info .callout{
	margin: 0 auto 15px auto;
	font-family: "yrsa", sans-serif;
	font-size: 45px;
	line-height: 46px;
}
main .info .copy{ 
	width: 90vw;
	max-width: 280px;
	margin: 0 auto 65px auto;
	font-size: 13px;
	line-height: 32px;
}
main a.cta{ 
	width: 260px; 
	margin: 0 auto;
	display: block;
	text-decoration: none;
	position: relative; 
	z-index: 10;
}
main .cta-button{ 
	display: block;
	width: 260px; 
	margin: 0 auto;
	padding: 13px 20px;
	border-radius: 10px;
	border: none;
	color: #ffffff;
	background: #000000;
	line-height: 25px; 
	font-size: 16px;
	font-family: "raleway",sans-serif;
	font-weight: 600;
	vertical-align: middle;
	cursor: pointer;
}

main .car{ 
	position: relative;
	width: 100%;
}
main .car .automobile{ 
	float: right;
	width: 200%;
}
main .cta-button .label:after{ 
	content: "";
	background: url("../img/facebook-icon.png") no-repeat top center;
	background-size: 25px 25px;
	display: inline-block;
	vertical-align: middle;
	line-height: 25px;
	width: 25px; 
	height: 25px;
	margin-top: -5px;
	margin-left: 5px;
}


main a.cta:hover .cta-button{ 
	background-color: #ec040d;
}
footer{
	background-color: #8a0606;
	font-size: 14px;
}
footer .column{
	padding-top: 40px;
}
footer h4{ 
	font-weight: 700;
	color: #ec040d;
	text-transform: uppercase;
	margin-bottom: 4px;
	font-size: 14px;
}
footer p{ 
	color: #ffffff;
	font-size: 14px;
}
footer strong{ 
	font-weight: 700;
}
footer .closer{ 
	padding-top: 60px;
	padding-bottom: 20px;
	font-size: 14px;
}
footer a{ 
	color: #ffffff;
	font-size: 14px;

}
footer .social{ 
	margin-bottom: 20px;
}
footer .social a{ 
	border: 2px solid #ffffff;
	border-radius: 100%;
	width: 45px; 
	height: 45px;
	line-height: 42px; 
	font-size: 20px !important;
	padding-left: 1px;
	padding-bottom: 1px;
}

footer a:hover{ 
	color: #ec040d;
	border-color: #ec040d;
}

footer a:visited{ 
	color: #ffffff;
}
footer .closer .social a{ 
	display: inline-block;
	margin-right: 15px;
	width: 45px; 
	height: 45px;
}
footer .social a:last-child{ 
	margin-right: 0;
}
footer .closer .social img{ 
	width: 100%;
}
footer .closer .social img:last-child{ 
	margin-right: 0;
}

/* BREAK POINT - 480px */
@media (min-width: 480px){ 
	main .logo{ 
		max-width: 290px;
		margin-bottom: 45px;
	}
	main .info .callout { 
		max-width: 420px;
		font-size: 52px;
		margin-bottom: 28px;
		line-height: 50px;
	}
	main .info .copy{ 
		max-width: 380px;
		font-size: 18px;
		margin-bottom: 70px;
		line-height: 36px;
	}
	
}

/* BREAK POINT - 900px */
@media (min-width: 900px){ 
	main .car .automobile{ 
		width: 195%;
	}
}

/* BREAK POINT - 1100px */
@media (min-width: 1100px){ 
	main .lg-callout{ 
		display: block;
	} 
	main .info{ 
		width: 30%;
		max-width: 800px;
		float: left;
		margin-left: 5%;
	}
	main .logo{ 
		width: 100%;
		max-width: 600px;
	}
	main .info .callout{ 
		display:none;
	}
	main .info .copy{ 
		max-width: 100%;
		font-size: 1.4vw;
		line-height: 2.6vw;
		text-align: left;
	}
	main a.cta{ 
		margin-left: 0;
	}
	main .cta-button{ 
		margin-left:0;
	}
	main .car .automobile{ 
		float: right;
		width: 145%;
		margin-top: -320px;
	}
	footer .contact-info{ 
		width: 82%;
		max-width: 1280px;
		margin: 0 auto;
	}
	footer .column{ 
		float: left;
	}
	footer .column:nth-child(1){ 
		width: 34%;
	}
	footer .column:nth-child(2){ 
		width: 35%;
	}
	footer .column:nth-child(3){ 
		width: 31%;
		padding-left: 1%;
	}
	footer h4, footer p{ 
		text-align: left;
	}
	footer h4{ 
		margin-bottom: 5px;
	}
	footer .closer{ 
		padding-bottom: 60px;
	}
	footer .closer .social{ 
		margin-bottom: 10px;
	}
	footer .closer p{ 
		text-align: center;
	}
}
/* 

/* BREAK POINT - 1280px */
@media (min-width: 1280px){ 
	main .info{ 
		margin-left: 5%;
	}
	footer .contact-info{ 
		width: 82%;
		max-width: 1280px;
		margin: 0 auto;
	}
	footer .column:nth-child(1){ 
		width: 35%;
	}
	footer .column:nth-child(2){ 
		width: 37%;
	}
	footer .column:nth-child(3){ 
		width: 28%;
		padding-left: 1%;
	}
}

/* BREAK POINT - 1400px */ 
@media (min-width: 1400px){ 
	main .info .copy{ 
		line-height: 
	}
	footer .contact-info{ 
		padding-left: 3%;
	}
	footer .column:nth-child(3){ 
		padding-left: 2%;
	}
}
@media (min-width: 1700px){ 
	main .info .logo{ 
		max-width: 500px;
		margin-left: 0;
	}
	main .info{ 
		max-width: 1000px;
		width: 40%;
	}
	main .info .copy{ 
		font-size: 1.3vw;
		margin-left: 0;
	}
	main .lg-callout{ 
		font-size: 100px;
		line-height: 90px;
	}

	footer .column:nth-child(3){ 
		width: 26%;
	}

}