@import 'includes/variables.scss';
@import 'includes/mixins.scss';

$dark_blue : #0d4a88;

.case-study:before{ 
	content:"";
    display:block;
    clear:both;
}
.case-study{ 
	height: 50vw;
	position:relative;
	
	.activity-wrap{
		opacity: 0.4;
		pointer-events: none;
		transition: opacity 350ms ease-in, background 400ms ease-in;
		height: 50vw;
	    position: absolute;
	    width: 100%;
	    background-color: rgba(255,255,255,0.6);
	    overflow: hidden;
	}
	.activity-wrap.active{ 
		opacity: 1;
		pointer-events: auto;
		background-color: rgba(255,255,255,0);
	}
	// LEFT NAVIGATION 
	.left-nav {
		color: $dark_blue;
		font-family: Tahoma, Verdana, Geneva, sans-serif;
		top: 40px;
		position: absolute;
		z-index: 100;
		
		p{ 
			display:inline-block;
			font-size: 16px; 
			font-weight: 600;
			margin-bottom:55px;
			padding-top: 5px;
			padding-left: 20px;
		}
		
		.title{		
			font-weight: 600;
			font-size: 22px; 
			line-height: 32px;
			margin-bottom: 25px;
			padding-top: 0;
			padding-left: 0;
		}
		
		.item .icon{ 
			width: auto;
			display: inline-block;
			vertical-align: top;
			position:relative;
			z-index: 2;
			cursor: pointer;
		}
		
		.item .icon img{ 
			height: 40px;
			display: inline-block;
			width:auto;
		}
		

		.return-to-start p, 
		.grid-view p{ 
			@include prefix(transform, translate(-30px), webkit ms);
			transform: translate(-30px);
			opacity: 0;
			transition: opacity 300ms ease-in-out, transform 420ms ease-in-out;
		}
		
		.return-to-start .icon:hover+p, 
		.grid-view .icon:hover+p{ 
			@include prefix(transform, translate(0px), webkit ms);
			opacity: 1;
		}
		
		.return-to-start .icon img{ 
			transition: transform 250ms ease-in-out;
		}
		
		.return-to-start .icon:hover img{ 
			@include prefix(transform, rotate(120deg), webkit ms);
		}
		

		.grid-view .icon{ 
			height: 37px; 
		}
		.grid-view .icon svg{ 
			float:left;
			height: 37px;
		}
		
		.grid-view .icon svg.part-1{ 
			transition-delay: 0s;
			transition: transform 250ms ease-in-out;
		}
		
		.grid-view .icon svg.part-2{ 
			transition: transform 250ms ease-in-out;
			transition-delay: 135ms;
			padding: 0 4px;
		}
		
		.grid-view .icon svg.part-3{ 
			transition: transform 250ms ease-in-out;
			transition-delay: 275ms;
		}
		
		.grid-view .icon:hover svg.part-1{
			@include prefix(transform, scale(1.15), webkit ms); 
		}
		
		.grid-view .icon:hover svg.part-2{ 
			@include prefix(transform, scale(1.15), webkit ms); 
		}
		
		.grid-view .icon:hover svg.part-3{ 
			@include prefix(transform, scale(1.15), webkit ms); 
		}
	}
	
	.left-nav .item:before{ 
		content: url("http://localhost/~SharkemperorX/studio-24/app/assets/img/layout/case-studies/left-nav-line.svg");
		display: inline-block;
		margin-right: 10px;
		width: 40px;
		vertical-align: top;
	}
	
	// CASE STUDY ARTICLE
	article.cs-summary{ 
		height: 51vw;
		width: 70vw;
		float: right; 
		background-color: #f2f2f2;
		@include prefix(transform, translateX(51vw) translateY(10%), webkit ms); 
		transition: transform 500ms ease-in-out;
		z-index: 50;
		position: relative;
		
		&.mouse-over{
			@include prefix(transform, translateX(675px) translateY(110px), webkit ms); 
		}
		
		&:hover{ 
			//@include prefix(transform, translateX(675px) translateY(110px), webkit ms); 
			
			.cs-navbar svg{ 
				@include prefix(transform, translateX(-3px), webkit ms);	
			}
			.cs-navbar .cs-arrow-body{ 
				@include prefix(transform, scale(1.125), webkit ms);	
			}
		}
	}
	
	article.cs-summary.active{ 
		@include prefix(transform, translateX(0) translateY(110px), webkit ms);
		
		.cs-arrow{ 
			svg{ 
			    top: 18px;
			    left: 45px;
			    @include prefix(transform, rotate(180deg), webkit ms);
				@include prefix(transform-origin, left center !important, webkit ms);
			}
			.cs-arrow-body{
				left: -8px;
				@include prefix(transform-origin, left center !important, webkit ms);
			}
		}
		
		&:hover{
			.cs-navbar svg{ 
				@include prefix(transform, rotate(180deg) translateX(-3px), webkit ms);	
			}
			.cs-navbar .cs-arrow-body{ 
				@include prefix(transform, scaleX(1.125), webkit ms);	
			}
		}
	}
	
	article .cs-navbar {
		width: 60px; 
		height: 560px;
		float: left;
		background-color: #0d4a88;	
		cursor: pointer;
		
		.cs-arrow{ 
			border-bottom: 2px solid #ffffff;
			width: 60px;
			height: 60px;
			position: relative;
			svg{ 
				width: 24px;
				float: left;
				position: relative;
			    top: 16px;
			    left: 15px;
			    @include prefix(transform-origin, right center, webkit ms);
			    transition: transform 225ms ease-in-out;
			}
			.cs-arrow-body{ 
				float:left;
			    width: 25px;
			    height: 2px;
			    position: relative;
				top: 28px;
				left: -6px;
			    background-color: #fff;     
			    @include prefix(transform-origin, right center, webkit ms);
			    transition: transform 225ms ease-in-out;
			}
			&.no_time{ 
				svg, .cs-arrow-body{ 
					transition-duration: 0ms !important;
				}
			}
		}
	}
	
	article .cs-navbar h1{ 
		@include prefix(transform, rotate(-90deg), webkit ms);
		width: 295px; 
		position: absolute;
		font-size: 28px;
		letter-spacing: 0.15em;
		color: #ffffff;
		text-transform: uppercase;
		margin: 0 !important;
		top: 250px;
		left: -117px;
	}
	article .cs-copy{ 
		width: 700px;
		height: 560px;
		float: left;
	}
	article .cs-logo img{ 
		width: 140px; 
		display: block;
		margin: 20px auto 0;
	}
}
.lock-pointer{
	pointer-events: none;
}
/**** Oliver Brewing Co. ****/
.case-study#oliverbrew{ 
	background-image: url("http://localhost/~SharkemperorX/studio-24/app/assets/img/layout/case-studies/oliver-brewing-co/png/bg-texture.png");
	background-size: cover;
	background-position: center center;
}

#oliverbrew{ 
	/*** PERIPHERALS ***/
	.tap{ 
		transition: top 400ms ease-in-out, left 400ms ease-in-out, transform 400ms ease-in-out;
		position: absolute;
		backface-visibility: hidden;
		@include prefix(transform, rotate(0deg) scale(1) translateZ(0), webkit ms);
		//-webkit-font-smoothing: subpixel-antialiased;
		cursor: pointer;
		z-index: 10;
	}
	.tap img{ 
		width:100%;
		backface-visibility: hidden;
/*
		@include prefix(transform, translateZ(0), webkit ms);
		-webkit-font-smoothing: subpixel-antialiased;
*/
		@include pixelated;
		top:0;
	}
	.tap .screen{
		background-color:#ffffff;
		z-index: 11;
		opacity:0.0;
		position:absolute;
		top:0;
		transition: opacity 300ms ease-in-out;
	}
	.tap.fade-in .screen{
			opacity:1.0;
		}
	
	
	/*** OFF SCREEN ***/
	.tap.position-1{ 
		right: 4999px;
		transition: left 0ms linear !important;

	}//.tap.position-1
	
	/*** GRID VIEW ***/
	.tap.position-2{ 
		width: 90px;
		height: 288px;
		
		&[data-tap="1"],
		&[data-tap="2"],
		&[data-tap="3"]{ 
			top:70px;
		}
		&[data-tap="4"],
		&[data-tap="5"],
		&[data-tap="6"]{ 
			top: 420px;
		}
		&[data-tap="1"],
		&[data-tap="4"]{ 
			left: 26%;
		}
		&[data-tap="2"],
		&[data-tap="5"]{ 
			left: 46%;
		}
		&[data-tap="3"],
		&[data-tap="6"]{ 
			left: 66%;
		}
		&:hover{ 
			@include prefix(transform, rotate(-5deg) scale(1.35) translateZ(0), webkit ms);
			@include animation('tap-hover-position-1 1000ms infinite ease-in-out 275ms');
		}
		.screen{
			width: 90px;
			height: 288px;
		}	
		&.shift-focus{
			@include prefix(transform, scale(0.85), webkit ms);
			.screen{ 
				opacity:0.4;
			}
		}		
	}//.tap.position-2
	
	/*** START VIEW ***/
	.tap.position-3{
		width:200px;
		
		&[data-tap="1"],
		&[data-tap="2"],
		&[data-tap="3"]{ 
			top:300px;
			left:-85px;
			@include prefix(transform-origin, 80px 500px, webkit ms); 
			transition: transform 275ms ease-in-out;
		}
		
		&[data-tap="1"]{
			@include prefix(transform, rotate(15deg), webkit ms);
			z-index:13;
			&:hover{ 
				@include prefix(transform, rotate(15deg) translateY(-50px), webkit ms);
			}
		}
		&[data-tap="2"]{
			@include prefix(transform, rotate(40deg), webkit ms);
			z-index:12;
			&:hover{ 
				@include prefix(transform, rotate(40deg) translateY(-50px), webkit ms);
			}
		}
		&[data-tap="3"]{
			@include prefix(transform, rotate(65deg), webkit ms);
			z-index:11;
			&:hover{ 
				@include prefix(transform, rotate(65deg) translateY(-50px), webkit ms);
			}
		}
	}//.tap.position-3
	
	.taps[data-view="grid"]{ 
		.tap.position-3{ 
			&[data-tap="1"],
			&[data-tap="2"],
			&[data-tap="3"]{ 
				top:70px;
				@include prefix(transform, rotate(0deg), webkit ms);
				width: 90px;
				height: 288px;
				transition: top 600ms ease-in-out 100ms, left 500ms ease-in-out, transform 500ms ease-in-out; 
			}
			&[data-tap="1"]{ 
				left: 30%;
			}
			&[data-tap="2"]{ 
				left: 50%;
			}
			&[data-tap="3"]{ 
				left: 70%;
			}
		}
	}//.taps[data-view="grid"] 
	
	/*** DETAIL VIEW ***/
	.tap.position-4, .tap.position-5, .tap.position-6{
		width: 140px;
		top:240px;
		z-index:11;
	}
	.tap.slide-transitions{ 
		transition: top 400ms ease-in-out, left 350ms ease-in-out, transform 400ms ease-in-out, opacity 200ms ease-in 50ms;
	}
	.tap.position-4{ 
		left: 2.5%;
		opacity: 0;
	

	}//.tap.position-4
	
	.tap.position-5{ 
		left: 12.5%;
		opacity: 1;

	}//.tap.position-4
	
	.tap.position-6{ 
		left: 22.5%;
		opacity: 0;
		
	}//.tap.position-4
	
	.tap-labels{
		position: absolute;
		width:525px;
		top: 50px;
		left: 9999px;
		z-index: 25;
		
		.tap-label{
			top:0;
			position:absolute;
			opacity: 0;
			transition: opacity 400ms ease-in-out;
		}
		.tap-label img{
			width:525px;
			position: absolute;
			top:0;
			z-index: 1;
		}

		&.active{
			left: 34%;
			.tap-label.fade-in{
				opacity: 1;
			}
		}
	}
	
	/*** Case Study Slider ***/
	.tap-names{ 
		position: absolute; 
		opacity: 0;
	    left: 78%;
		top: 453px;
		background:rgba(255,255,255,0.8);
		.tap-name{ 
			margin-bottom: 15px;
			cursor: pointer;
			&.active{ 
				h1{ 
					opacity: 1;
				}
				.tapNameDot{
					@include prefix(transform, scale(1), webkit ms);
					background-color: #a98a13;
					opacity: 1;
				}
				
			}
		}
		.tap-name:hover{ 
			h1{ 
				opacity:1;
			}
			.tapNameDot{
				@include prefix(transform, scale(1), webkit ms);
				opacity: 1;	
			}
		}
		h1{ 
			color: #a98a13;
			font-size: 12px;
			letter-spacing: 0.1em;
			font-weight: 400;
			display: inline-block;
			vertical-align: middle;
			margin-top: 0 !important; 
			margin-bottom: 0 !important;
			margin-left: 5px;
			line-height: 25px;
			transition: opacity 225ms ease-in-out;
			opacity: 0.7;
		}
		.tapNameDot{ 
			display:inline-block;
			border: 2px solid #a98a13; 
			vertical-align: middle;
			border-radius: 50%;
			height: 12px;
			width: 12px;
			margin: 0;
			line-height: 25px;
			opacity: 0.8;
			@include prefix(transform, scale(0.75), webkit ms);
			transition: transform 225ms ease-in-out, opacity 225ms ease-in-out;
			
		}

		&.active{ 
			opacity: 1;
		
		}
	}
	.cs-slider{
		.cs-arrow{ 
			width: 60px;
			height: 60px;
			position: absolute;
		    top: 475px;
		    opacity: 0;
		    left: 9999px;
		    transition: opacity 275ms ease-in-out 400ms;
		    z-index: 15;
		    cursor: pointer;
			svg{ 
				width: 24px;
				float: left;
				position: relative;
			    top: 16px;
			    left: 15px;
			   
			    transition: transform 225ms ease-in-out;
			}
			.cs-arrow-body{ 
				float:left;
			    width: 25px;
			    height: 0.125em;
			    position: relative;
				top: 28px;
				left: -6px;
			    background-color:#a98a13;     
			    @include prefix(transform-origin, right center, webkit ms);
			    @include prefix(transform, scale(1) translateZ(0), webkit ms);
			    backface-visibility: hidden;
			    transition: transform 225ms ease-in-out;
			}
		}
		&.active{ 
			.previous{ 
			    left: 8%;
				opacity: 1;
			
				@include prefix(transform-origin, left center, webkit ms);
				&:hover{
					svg{
						@include prefix(transform, translateX(-8px), webkit ms);
					}
					.cs-arrow-body{ 
						@include prefix(transform, scaleX(1.275), webkit ms);
					}
				}
		    }
		    .next{ 
			    left: 17%;
				opacity: 1;
				@include prefix(transform, rotate(180deg), webkit ms);
				@include prefix(transform-origin, right center, webkit ms);
				&:hover{
					svg{
						@include prefix(transform,  translateX(-8px), webkit ms);
					}
					.cs-arrow-body{ 
						@include prefix(transform, scaleX(1.275), webkit ms);
					}
				}
		    }
		}
	}
}


@include keyframes(tap-hover-position-1){
	9% 		{@include prefix(transform, rotate(-5deg) scale(1.35), webkit ms);} 
	50%  	{@include prefix(transform, rotate(5deg) scale(1.35), webkit ms);}
	100% 	{@include prefix(transform, rotate(-5deg) scale(1.35), webkit ms);}
}

@media (max-width:1024px){ 
	
}
@media (max-width:960px){ 
	.case-study{display:none;}
}
