table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
.case-study#northwind{
	background-color: 	#f6f6f6;
	z-index: 999;
}
#northwind .stage .views h2{
	color: #aaa;
}
#northwind .stage .views{
	position: absolute;
	left: 0; 
	right: 0; 
	top: 130px; 
	margin: 0 auto; 
	width: 60%; 
}


/*** #northwind-insights ****/
#northwind .view{
	position: absolute;
	width: 100%;
	z-index: 0;
	opacity: 0;
	transform: translateX(2000px);
	transition: opacity 300ms ease-in-out, transform 600ms ease-in-out;
}
#northwind .view.active{
	z-index: 1;
	opacity: 1;
	transform: translateX(0);	
}
#northwind-insights ul li{
	background: #fff;
	width: 100%; 
	list-style: none;
	margin-bottom: 40px;
	transition: transform 300ms ease-in-out, box-shadow 300ms ease-in-out; 
	cursor: pointer;
	box-shadow: 0 1px 2px 1px #cdcdcd;
	
}
#northwind-insights ul li p{
	margin: 0;
	padding-left: 40px;
	font-size: 20px;
}
#northwind-insights ul li:hover{
	box-shadow: 0px 20px 20px -14px #a9a9a9;
	-webkit-transform: translateY(-2px);
    -ms-transform: translateY(-2px);
    transform: translateY(-2px);  
}

/*** ARROW ANIMATION ***/
#northwind-insights ul li .cs-arrow, 
#northwind-insights ul li p{
	display: inline-block;
	vertical-align: middle;
}
#northwind-insights ul li .cs-arrow {
	width: 60px;
	height: 60px;
	position: relative; 
	background-color: #0d4a88;
}
#northwind-insights ul li .cs-arrow svg {
    width: 24px;
    float: left;
    position: relative;
    top: 18px;
    -webkit-transform-origin: right center;
    -ms-transform-origin: right center;
    transform-origin: right center;
    transition: transform 225ms ease-in-out; 
    -webkit-transform: rotate(180deg) translateX(2px);
    -ms-transform: rotate(180deg) translateX(2px);
    transform: rotate(180deg) translateX(2px);
}
#northwind-insights ul li .cs-arrow-body {
    float: left;
    width: 25px;
    height: 2px;
    position: relative;
    top: 28px;
    left: -6px;
    background-color: #fff;
    -webkit-transform-origin: left center;
    -ms-transform-origin: left center;
    transform-origin: left center;
    transition: transform 225ms ease-in-out;
}
#northwind-insights ul li:hover .cs-arrow-body{
      -webkit-transform: scale(1.125);
      -ms-transform: scale(1.125);
      transform: scale(1.125); 
}
#northwind-insights ul li:hover .cs-arrow svg{
      -webkit-transform: rotate(180deg) translateX(-3px);
      -ms-transform: rotate(180deg) translateX(-3px);
      transform: rotate(180deg) translateX(-3px); 
}

/*** #northwind-query-output ****/
#northwind-query-output .northwind-table-page{
	position: absolute;
	top: 110px;
	background: #fff;
	width: 850px;
	height: 456px; 
	overflow: scroll;
	z-index: 0; 
	opacity: 0;
}
#northwind-query-output .northwind-table-page.active{
	z-index: 1; 
	opacity: 1;
}
#northwind-paging-controls{
	position: absolute; 
	top: 575px;
}
#northwind-paging-controls ul{
	display: inline-block;
}
#northwind-paging-controls ul.page-numbers{
	width: 850px; 
	text-align: center;
}
#northwind-paging-controls ul.page-numbers li{
	display: inline-block;
	cursor: pointer;
	text-align: center; 
	font-size: 18px;
	vertical-align: top;

}
#northwind-paging-controls ul.page-numbers li a{
	display: inline-block;
	min-width: 35px; 
	margin: 10px 7px; 
}
#northwind-paging-controls ul.page-numbers li:hover a{
	color: #6fc833;
	text-decoration: none;
}
#northwind-paging-controls ul.page-numbers li a.active{
	color: #fff;
	background-color: #0d4a88; 

}
#northwind-page-count{
	position: absolute;
	top: 0; 
	width: 125px; 
	height: 75px; 
	margin: 10px 0 0 0;
	font: 18px; 
}
#northwind-page-search{
	position: absolute;
	right: 0; 
	margin: 5px 0 0 0;
}
.northwind-table-page-nav{
    width: 24px !important;
    height: 24px;
    min-width: auto !important;
    margin: 10px 7px;
    vertical-align: top;
}
.northwind-table-page-nav img{
	width: 100%;
    height: 100%;
    display: block;
}
.northwind-directional-page-nav img.forward{
	transform: rotate(180deg);
}
#northwind-search-page-field{
	display: inline-block;
	border: 1px solid #0d4a88;
    width: 75px;
    padding: 0 5px;
    vertical-align: top;
}
#northwind-page-search-button{
	display: inline-block;
	width: 20px; 
	height: 27px; 
	margin: 0 0 0 10px !important;
	background-position: center center; 
	background-repeat: no-repeat;
	background-size: 20px 17px;
	background-image:url("/app/assets/img/layout/case-studies/icon_search.svg");
	vertical-align: top;
}
#northwind-search-page-field:focus + #northwind-page-search-button.invalid{
	background-color: red;
	background-image:url("/app/assets/img/layout/case-studies/icon_search-white.svg");
}
#northwind-search-page-field:focus + #northwind-page-search-button.valid{
	background-color: green;
	background-image:url("/app/assets/img/layout/case-studies/icon_search-white.svg");
}
#northwind-page-search-button.invalid:hover{
	background-color: red;
	background-image:url("/app/assets/img/layout/case-studies/icon_search-white.svg");
}
#northwind-page-search-button.valid:hover{
	background-color: green;
	background-image:url("/app/assets/img/layout/case-studies/icon_search-white.svg");
}