/**** Oliver Brewing Co. ****/
.case-study#oliverbrew {
  background-image: url("/app/assets/img/layout/case-studies/oliver-brewing-co/png/bg-texture.png");
  background-size: cover;
  background-position: center center; }

#oliverbrew {
  /*** OLLIE ***/
  /*** PERIPHERALS ***/
  /*** OFF SCREEN ***/
  /*** GRID VIEW ***/
  /*** START VIEW ***/
  /*** DETAIL VIEW ***/
  /*** Case Study Slider ***/ }
  #oliverbrew .ollie-right-hand {
    z-index: 20;
    width: 250px;
    height: 120px;
    top: 87.5%;
    left: 33.25%;
    transition: transform 400ms ease-in-out, top 500ms ease-in-out 350ms, opacity 350ms ease-in-out; }
    #oliverbrew .ollie-right-hand.off-screen {
      top: 100%; }
  #oliverbrew .ollie {
    position: absolute;
    width: 718px;
    height: 715px;
    top: 66px;
    left: 35%;
    transition: transform 400ms ease-in-out, top 900ms ease-in-out; }
    #oliverbrew .ollie .head,
    #oliverbrew .ollie .left-hand,
    #oliverbrew .ollie .body,
    #oliverbrew .ollie .mug {
      width: 718px;
      height: 715px;
      top: 0; }
    #oliverbrew .ollie .mug {
      -webkit-transform-origin: 550px 550px;
      -ms-transform-origin: 550px 550px;
      transform-origin: 550px 550px;
      -webkit-transform: translateY(20px);
      -ms-transform: translateY(20px);
      transform: translateY(20px); }
    #oliverbrew .ollie .head-wrap {
      -webkit-transform-origin: 330px 280px;
      -ms-transform-origin: 330px 280px;
      transform-origin: 330px 280px; }
    #oliverbrew .ollie.active .mug {
      -webkit-animation: ollie-toast 7000ms infinite;
      -moz-animation: ollie-toast 7000ms infinite;
      animation: ollie-toast 7000ms infinite;
      -webkit-animation-timing-function: cubic-beizer(1, -0.36, 0.46, 1.16);
      -ms-animation-timing-function: cubic-beizer(1, -0.36, 0.46, 1.16);
      animation-timing-function: cubic-beizer(1, -0.36, 0.46, 1.16); }
    #oliverbrew .ollie.active .head-wrap {
      -webkit-animation: ollie-nod 4000ms infinite;
      -moz-animation: ollie-nod 4000ms infinite;
      animation: ollie-nod 4000ms infinite;
      -webkit-animation-timing-function: cubic-beizer(1, -0.36, 0.46, 1.16);
      -ms-animation-timing-function: cubic-beizer(1, -0.36, 0.46, 1.16);
      animation-timing-function: cubic-beizer(1, -0.36, 0.46, 1.16); }
    #oliverbrew .ollie.active .eyes {
      -webkit-animation: ollie-blink 3000ms infinite linear;
      -moz-animation: ollie-blink 3000ms infinite linear;
      animation: ollie-blink 3000ms infinite linear; }
    #oliverbrew .ollie.off-screen {
      top: 800px; }
  #oliverbrew .tap {
    transition: top 400ms ease-in-out, left 400ms ease-in-out, transform 400ms ease-in-out;
    position: absolute;
    backface-visibility: hidden;
    -webkit-transform: rotate(0deg) scale(1) translateZ(0);
    -ms-transform: rotate(0deg) scale(1) translateZ(0);
    transform: rotate(0deg) scale(1) translateZ(0);
    cursor: pointer;
    z-index: 10;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center; }
  #oliverbrew .tap img {
    width: 100%;
    backface-visibility: hidden;
    top: 0; }
  #oliverbrew .tap .screen {
    background-color: #ffffff;
    z-index: 11;
    opacity: 0.0;
    position: absolute;
    top: 0;
    transition: opacity 300ms ease-in-out; }
  #oliverbrew .tap.fade-in .screen {
    opacity: 1.0; }
  #oliverbrew .tap.position-1 {
    right: 4999px;
    transition: left 0ms linear !important; }
  #oliverbrew .tap.position-2 {
    width: 90px;
    height: 288px;
    -webkit-transform: rotate(0deg) scale(1) translateZ(0);
    -ms-transform: rotate(0deg) scale(1) translateZ(0);
    transform: rotate(0deg) scale(1) translateZ(0); }
    #oliverbrew .tap.position-2[data-tap="1"],
    #oliverbrew .tap.position-2[data-tap="2"],
    #oliverbrew .tap.position-2[data-tap="3"] {
      top: 70px; }
    #oliverbrew .tap.position-2[data-tap="4"],
    #oliverbrew .tap.position-2[data-tap="5"],
    #oliverbrew .tap.position-2[data-tap="6"] {
      top: 420px; }
    #oliverbrew .tap.position-2[data-tap="1"],
    #oliverbrew .tap.position-2[data-tap="4"] {
      left: 26%; }
    #oliverbrew .tap.position-2[data-tap="2"],
    #oliverbrew .tap.position-2[data-tap="5"] {
      left: 46%; }
    #oliverbrew .tap.position-2[data-tap="3"],
    #oliverbrew .tap.position-2[data-tap="6"] {
      left: 66%; }
    #oliverbrew .tap.position-2.active {
      -webkit-transform: rotate(-5deg) scale(1.35) translateZ(0);
      -ms-transform: rotate(-5deg) scale(1.35) translateZ(0);
      transform: rotate(-5deg) scale(1.35) translateZ(0);
      -webkit-animation: tap-hover-position-1 1000ms infinite ease-in-out 275ms;
      -moz-animation: tap-hover-position-1 1000ms infinite ease-in-out 275ms;
      animation: tap-hover-position-1 1000ms infinite ease-in-out 275ms;
      transition: transform 275ms ease-in-out; }
    #oliverbrew .tap.position-2 .screen {
      width: 90px;
      height: 288px; }
    #oliverbrew .tap.position-2.shift-focus {
      -webkit-transform: scale(0.85) rotate(0deg) translateZ(0);
      -ms-transform: scale(0.85) rotate(0deg) translateZ(0);
      transform: scale(0.85) rotate(0deg) translateZ(0); }
      #oliverbrew .tap.position-2.shift-focus .screen {
        opacity: 0.4; }
  #oliverbrew .taps[data-view="grid"] ~ .tap-names .tap-name:hover .tapNameDot {
    background-color: #a98a13; }
  #oliverbrew .tap.position-3 {
    width: 200px;
    height: 639px; }
    #oliverbrew .tap.position-3[data-tap="1"],
    #oliverbrew .tap.position-3[data-tap="2"],
    #oliverbrew .tap.position-3[data-tap="3"] {
      top: 300px;
      left: -85px;
      -webkit-transform-origin: 80px 500px;
      -ms-transform-origin: 80px 500px;
      transform-origin: 80px 500px;
      transition: transform 275ms ease-in-out; }
    #oliverbrew .tap.position-3[data-tap="1"] {
      -webkit-transform: rotate(15deg);
      -ms-transform: rotate(15deg);
      transform: rotate(15deg);
      z-index: 13; }
      #oliverbrew .tap.position-3[data-tap="1"]:hover {
        -webkit-transform: rotate(15deg) translateY(-50px);
        -ms-transform: rotate(15deg) translateY(-50px);
        transform: rotate(15deg) translateY(-50px); }
    #oliverbrew .tap.position-3[data-tap="2"] {
      -webkit-transform: rotate(40deg);
      -ms-transform: rotate(40deg);
      transform: rotate(40deg);
      z-index: 12; }
      #oliverbrew .tap.position-3[data-tap="2"]:hover {
        -webkit-transform: rotate(40deg) translateY(-50px);
        -ms-transform: rotate(40deg) translateY(-50px);
        transform: rotate(40deg) translateY(-50px); }
    #oliverbrew .tap.position-3[data-tap="3"] {
      -webkit-transform: rotate(65deg);
      -ms-transform: rotate(65deg);
      transform: rotate(65deg);
      z-index: 11; }
      #oliverbrew .tap.position-3[data-tap="3"]:hover {
        -webkit-transform: rotate(65deg) translateY(-50px);
        -ms-transform: rotate(65deg) translateY(-50px);
        transform: rotate(65deg) translateY(-50px); }
  #oliverbrew .taps[data-view="grid"] .tap.position-3[data-tap="1"],
  #oliverbrew .taps[data-view="grid"] .tap.position-3[data-tap="2"],
  #oliverbrew .taps[data-view="grid"] .tap.position-3[data-tap="3"] {
    top: 70px;
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    width: 90px;
    height: 288px;
    transition: top 600ms ease-in-out 100ms, left 500ms ease-in-out, transform 500ms ease-in-out; }
  #oliverbrew .taps[data-view="grid"] .tap.position-3[data-tap="1"] {
    left: 30%; }
  #oliverbrew .taps[data-view="grid"] .tap.position-3[data-tap="2"] {
    left: 50%; }
  #oliverbrew .taps[data-view="grid"] .tap.position-3[data-tap="3"] {
    left: 70%; }
  #oliverbrew .tap.position-4, #oliverbrew .tap.position-5, #oliverbrew .tap.position-6 {
    width: 140px;
    height: 447px;
    top: 240px;
    z-index: 11; }
  #oliverbrew .tap.slide-transitions {
    transition: top 400ms ease-in-out, left 350ms ease-in-out, transform 400ms ease-in-out, opacity 200ms ease-in 50ms; }
  #oliverbrew .tap.position-4 {
    left: 2.5%;
    opacity: 0; }
  #oliverbrew .tap.position-5 {
    left: 12.5%;
    opacity: 1; }
  #oliverbrew .tap.position-6 {
    left: 22.5%;
    opacity: 0; }
  #oliverbrew .tap-labels {
    position: absolute;
    width: 525px;
    top: 50px;
    left: 9999px;
    z-index: 25; }
    #oliverbrew .tap-labels .tap-label {
      top: 0;
      position: absolute;
      opacity: 0;
      transition: opacity 400ms ease-in-out; }
    #oliverbrew .tap-labels .tap-label img {
      width: 525px;
      position: absolute;
      top: 0;
      z-index: 1; }
    #oliverbrew .tap-labels.active {
      left: 34%; }
      #oliverbrew .tap-labels.active .tap-label.fade-in {
        opacity: 1; }
  #oliverbrew .tap-names {
    position: absolute;
    opacity: 0;
    left: 78%;
    top: 453px;
    background: rgba(255, 255, 255, 0.8); }
    #oliverbrew .tap-names .tap-name {
      margin-bottom: 15px;
      cursor: pointer; }
      #oliverbrew .tap-names .tap-name.active h1 {
        opacity: 1; }
      #oliverbrew .tap-names .tap-name.active .tapNameDot {
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
        background-color: #a98a13;
        opacity: 1; }
    #oliverbrew .tap-names .tap-name:hover h1 {
      opacity: 1; }
    #oliverbrew .tap-names .tap-name:hover .tapNameDot {
      -webkit-transform: scale(1);
      -ms-transform: scale(1);
      transform: scale(1);
      opacity: 1; }
    #oliverbrew .tap-names h1 {
      color: #a98a13;
      font-size: 12px;
      letter-spacing: 0.1em;
      font-weight: 400;
      display: inline-block;
      vertical-align: middle;
      margin-top: 0 !important;
      margin-bottom: 0 !important;
      margin-left: 5px;
      line-height: 25px;
      transition: opacity 225ms ease-in-out;
      opacity: 0.7; }
    #oliverbrew .tap-names .tapNameDot {
      display: inline-block;
      border: 2px solid #a98a13;
      vertical-align: middle;
      border-radius: 50%;
      height: 12px;
      width: 12px;
      margin: 0;
      line-height: 25px;
      opacity: 0.8;
      -webkit-transform: scale(0.75);
      -ms-transform: scale(0.75);
      transform: scale(0.75);
      transition: transform 225ms ease-in-out, opacity 225ms ease-in-out; }
    #oliverbrew .tap-names.active {
      opacity: 1; }
  #oliverbrew .cs-slider .cs-arrow {
    width: 60px;
    height: 60px;
    position: absolute;
    top: 475px;
    opacity: 0;
    left: 9999px;
    transition: opacity 275ms ease-in-out 400ms;
    z-index: 15;
    cursor: pointer; }
    #oliverbrew .cs-slider .cs-arrow svg {
      width: 24px;
      float: left;
      position: relative;
      top: 16px;
      left: 15px;
      transition: transform 225ms ease-in-out; }
    #oliverbrew .cs-slider .cs-arrow .cs-arrow-body {
      float: left;
      width: 25px;
      height: 0.125em;
      position: relative;
      top: 28px;
      left: -6px;
      background-color: #a98a13;
      -webkit-transform-origin: right center;
      -ms-transform-origin: right center;
      transform-origin: right center;
      -webkit-transform: scale(1) translateZ(0);
      -ms-transform: scale(1) translateZ(0);
      transform: scale(1) translateZ(0);
      backface-visibility: hidden;
      transition: transform 225ms ease-in-out; }
  #oliverbrew .cs-slider.active .previous {
    left: 8%;
    opacity: 1;
    -webkit-transform-origin: left center;
    -ms-transform-origin: left center;
    transform-origin: left center; }
    #oliverbrew .cs-slider.active .previous:hover svg {
      -webkit-transform: translateX(-8px);
      -ms-transform: translateX(-8px);
      transform: translateX(-8px); }
    #oliverbrew .cs-slider.active .previous:hover .cs-arrow-body {
      -webkit-transform: scaleX(1.275);
      -ms-transform: scaleX(1.275);
      transform: scaleX(1.275); }
  #oliverbrew .cs-slider.active .next {
    left: 17%;
    opacity: 1;
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    -webkit-transform-origin: right center;
    -ms-transform-origin: right center;
    transform-origin: right center; }
    #oliverbrew .cs-slider.active .next:hover svg {
      -webkit-transform: translateX(-8px);
      -ms-transform: translateX(-8px);
      transform: translateX(-8px); }
    #oliverbrew .cs-slider.active .next:hover .cs-arrow-body {
      -webkit-transform: scaleX(1.275);
      -ms-transform: scaleX(1.275);
      transform: scaleX(1.275); }

@-webkit-keyframes ollie-toast {
  0% {
    -webkit-transform: rotate(0deg) translateY(20px);
    -ms-transform: rotate(0deg) translateY(20px);
    transform: rotate(0deg) translateY(20px); }
  65% {
    -webkit-transform: rotate(0deg) translateY(20px);
    -ms-transform: rotate(0deg) translateY(20px);
    transform: rotate(0deg) translateY(20px); }
  74% {
    -webkit-transform: rotate(0deg) translateY(-40px);
    -ms-transform: rotate(0deg) translateY(-40px);
    transform: rotate(0deg) translateY(-40px); }
  79% {
    -webkit-transform: rotate(-10deg) translateY(-40px);
    -ms-transform: rotate(-10deg) translateY(-40px);
    transform: rotate(-10deg) translateY(-40px); }
  80% {
    -webkit-transform: rotate(5deg) translateY(-40px);
    -ms-transform: rotate(5deg) translateY(-40px);
    transform: rotate(5deg) translateY(-40px);
    background-image: url("/app/assets/img/layout/case-studies/oliver-brewing-co/svg/ollie_mug.svg"); }
  86% {
    -webkit-transform: rotate(-8deg) translateY(-40px);
    -ms-transform: rotate(-8deg) translateY(-40px);
    transform: rotate(-8deg) translateY(-40px); }
  92% {
    background-image: url("/app/assets/img/layout/case-studies/oliver-brewing-co/svg/ollie_mug-splash.svg"); }
  97% {
    background-image: url("/app/assets/img/layout/case-studies/oliver-brewing-co/svg/ollie_mug.svg"); }
  100% {
    -webkit-transform: rotate(0deg) translateY(20px);
    -ms-transform: rotate(0deg) translateY(20px);
    transform: rotate(0deg) translateY(20px); } }

@-moz-keyframes ollie-toast {
  0% {
    -webkit-transform: rotate(0deg) translateY(20px);
    -ms-transform: rotate(0deg) translateY(20px);
    transform: rotate(0deg) translateY(20px); }
  65% {
    -webkit-transform: rotate(0deg) translateY(20px);
    -ms-transform: rotate(0deg) translateY(20px);
    transform: rotate(0deg) translateY(20px); }
  74% {
    -webkit-transform: rotate(0deg) translateY(-40px);
    -ms-transform: rotate(0deg) translateY(-40px);
    transform: rotate(0deg) translateY(-40px); }
  79% {
    -webkit-transform: rotate(-10deg) translateY(-40px);
    -ms-transform: rotate(-10deg) translateY(-40px);
    transform: rotate(-10deg) translateY(-40px); }
  80% {
    -webkit-transform: rotate(5deg) translateY(-40px);
    -ms-transform: rotate(5deg) translateY(-40px);
    transform: rotate(5deg) translateY(-40px);
    background-image: url("/app/assets/img/layout/case-studies/oliver-brewing-co/svg/ollie_mug.svg"); }
  86% {
    -webkit-transform: rotate(-8deg) translateY(-40px);
    -ms-transform: rotate(-8deg) translateY(-40px);
    transform: rotate(-8deg) translateY(-40px); }
  92% {
    background-image: url("/app/assets/img/layout/case-studies/oliver-brewing-co/svg/ollie_mug-splash.svg"); }
  97% {
    background-image: url("/app/assets/img/layout/case-studies/oliver-brewing-co/svg/ollie_mug.svg"); }
  100% {
    -webkit-transform: rotate(0deg) translateY(20px);
    -ms-transform: rotate(0deg) translateY(20px);
    transform: rotate(0deg) translateY(20px); } }

@keyframes ollie-toast {
  0% {
    -webkit-transform: rotate(0deg) translateY(20px);
    -ms-transform: rotate(0deg) translateY(20px);
    transform: rotate(0deg) translateY(20px); }
  65% {
    -webkit-transform: rotate(0deg) translateY(20px);
    -ms-transform: rotate(0deg) translateY(20px);
    transform: rotate(0deg) translateY(20px); }
  74% {
    -webkit-transform: rotate(0deg) translateY(-40px);
    -ms-transform: rotate(0deg) translateY(-40px);
    transform: rotate(0deg) translateY(-40px); }
  79% {
    -webkit-transform: rotate(-10deg) translateY(-40px);
    -ms-transform: rotate(-10deg) translateY(-40px);
    transform: rotate(-10deg) translateY(-40px); }
  80% {
    -webkit-transform: rotate(5deg) translateY(-40px);
    -ms-transform: rotate(5deg) translateY(-40px);
    transform: rotate(5deg) translateY(-40px);
    background-image: url("/app/assets/img/layout/case-studies/oliver-brewing-co/svg/ollie_mug.svg"); }
  86% {
    -webkit-transform: rotate(-8deg) translateY(-40px);
    -ms-transform: rotate(-8deg) translateY(-40px);
    transform: rotate(-8deg) translateY(-40px); }
  92% {
    background-image: url("/app/assets/img/layout/case-studies/oliver-brewing-co/svg/ollie_mug-splash.svg"); }
  97% {
    background-image: url("/app/assets/img/layout/case-studies/oliver-brewing-co/svg/ollie_mug.svg"); }
  100% {
    -webkit-transform: rotate(0deg) translateY(20px);
    -ms-transform: rotate(0deg) translateY(20px);
    transform: rotate(0deg) translateY(20px); } }

@-webkit-keyframes ollie-nod {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg); }
  45% {
    -webkit-transform: rotate(5deg);
    -ms-transform: rotate(5deg);
    transform: rotate(5deg); }
  100% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg); } }

@-moz-keyframes ollie-nod {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg); }
  45% {
    -webkit-transform: rotate(5deg);
    -ms-transform: rotate(5deg);
    transform: rotate(5deg); }
  100% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg); } }

@keyframes ollie-nod {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg); }
  45% {
    -webkit-transform: rotate(5deg);
    -ms-transform: rotate(5deg);
    transform: rotate(5deg); }
  100% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg); } }

@-webkit-keyframes ollie-blink {
  0% {
    background-image: url("/app/assets/img/layout/case-studies/oliver-brewing-co/svg/ollie_head-eyes-open.svg"); }
  98% {
    background-image: url("/app/assets/img/layout/case-studies/oliver-brewing-co/svg/ollie_head-eyes-open.svg"); }
  99% {
    background-image: url("/app/assets/img/layout/case-studies/oliver-brewing-co/svg/ollie_head-eyes-closed.svg"); }
  100% {
    background-image: "/app/assets/img/layout/case-studies/oliver-brewing-co/svg/ollie_head-eyes-open.svg"; } }

@-moz-keyframes ollie-blink {
  0% {
    background-image: url("/app/assets/img/layout/case-studies/oliver-brewing-co/svg/ollie_head-eyes-open.svg"); }
  98% {
    background-image: url("/app/assets/img/layout/case-studies/oliver-brewing-co/svg/ollie_head-eyes-open.svg"); }
  99% {
    background-image: url("/app/assets/img/layout/case-studies/oliver-brewing-co/svg/ollie_head-eyes-closed.svg"); }
  100% {
    background-image: "/app/assets/img/layout/case-studies/oliver-brewing-co/svg/ollie_head-eyes-open.svg"; } }

@keyframes ollie-blink {
  0% {
    background-image: url("/app/assets/img/layout/case-studies/oliver-brewing-co/svg/ollie_head-eyes-open.svg"); }
  98% {
    background-image: url("/app/assets/img/layout/case-studies/oliver-brewing-co/svg/ollie_head-eyes-open.svg"); }
  99% {
    background-image: url("/app/assets/img/layout/case-studies/oliver-brewing-co/svg/ollie_head-eyes-closed.svg"); }
  100% {
    background-image: "/app/assets/img/layout/case-studies/oliver-brewing-co/svg/ollie_head-eyes-open.svg"; } }

@-webkit-keyframes tap-hover-position-1 {
  9% {
    -webkit-transform: rotate(-5deg) scale(1.35) translateZ(0);
    -ms-transform: rotate(-5deg) scale(1.35) translateZ(0);
    transform: rotate(-5deg) scale(1.35) translateZ(0); }
  50% {
    -webkit-transform: rotate(5deg) scale(1.35) translateZ(0);
    -ms-transform: rotate(5deg) scale(1.35) translateZ(0);
    transform: rotate(5deg) scale(1.35) translateZ(0); }
  100% {
    -webkit-transform: rotate(-5deg) scale(1.35) translateZ(0);
    -ms-transform: rotate(-5deg) scale(1.35) translateZ(0);
    transform: rotate(-5deg) scale(1.35) translateZ(0); } }

@-moz-keyframes tap-hover-position-1 {
  9% {
    -webkit-transform: rotate(-5deg) scale(1.35) translateZ(0);
    -ms-transform: rotate(-5deg) scale(1.35) translateZ(0);
    transform: rotate(-5deg) scale(1.35) translateZ(0); }
  50% {
    -webkit-transform: rotate(5deg) scale(1.35) translateZ(0);
    -ms-transform: rotate(5deg) scale(1.35) translateZ(0);
    transform: rotate(5deg) scale(1.35) translateZ(0); }
  100% {
    -webkit-transform: rotate(-5deg) scale(1.35) translateZ(0);
    -ms-transform: rotate(-5deg) scale(1.35) translateZ(0);
    transform: rotate(-5deg) scale(1.35) translateZ(0); } }

@keyframes tap-hover-position-1 {
  9% {
    -webkit-transform: rotate(-5deg) scale(1.35) translateZ(0);
    -ms-transform: rotate(-5deg) scale(1.35) translateZ(0);
    transform: rotate(-5deg) scale(1.35) translateZ(0); }
  50% {
    -webkit-transform: rotate(5deg) scale(1.35) translateZ(0);
    -ms-transform: rotate(5deg) scale(1.35) translateZ(0);
    transform: rotate(5deg) scale(1.35) translateZ(0); }
  100% {
    -webkit-transform: rotate(-5deg) scale(1.35) translateZ(0);
    -ms-transform: rotate(-5deg) scale(1.35) translateZ(0);
    transform: rotate(-5deg) scale(1.35) translateZ(0); } }

@media (max-width: 1200px) {
  .tap-names {
    display: none; } }
