.bg-img {
  position: absolute;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat; }

.case-study:before {
  content: "";
  display: block;
  clear: both; }

.case-study {
  height: 830px;
  position: relative; }
  .case-study .activity-wrap {
    opacity: 0.4;
    pointer-events: none;
    transition: opacity 350ms ease-in, background 400ms ease-in;
    height: 780px;
    position: absolute;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.6);
    overflow: hidden; }
  .case-study .activity-wrap.active {
    opacity: 1;
    pointer-events: auto;
    background-color: rgba(255, 255, 255, 0); }
  .case-study .left-nav {
    color: #0d4a88;
    font-family: Tahoma, Verdana, Geneva, sans-serif;
    top: 40px;
    position: absolute;
    z-index: 100; }
    .case-study .left-nav p {
      display: inline-block;
      font-size: 16px;
      font-weight: 600;
      margin-bottom: 55px;
      padding-top: 5px;
      padding-left: 20px; }
    .case-study .left-nav .title {
      font-weight: 600;
      font-size: 22px;
      line-height: 32px;
      margin-bottom: 25px;
      padding-top: 0;
      padding-left: 0; }
    .case-study .left-nav .item .icon {
      width: auto;
      display: inline-block;
      vertical-align: top;
      position: relative;
      z-index: 2;
      cursor: pointer; }
    .case-study .left-nav .item .icon img {
      height: 40px;
      display: inline-block;
      width: auto; }
    .case-study .left-nav .return-to-start p,
    .case-study .left-nav .grid-view p {
      -webkit-transform: translate(-30px);
      -ms-transform: translate(-30px);
      transform: translate(-30px);
      transform: translate(-30px);
      opacity: 0;
      transition: opacity 300ms ease-in-out, transform 420ms ease-in-out; }
    .case-study .left-nav .return-to-start .icon:hover + p,
    .case-study .left-nav .grid-view .icon:hover + p {
      -webkit-transform: translate(0px);
      -ms-transform: translate(0px);
      transform: translate(0px);
      opacity: 1; }
    .case-study .left-nav .return-to-start .icon img {
      transition: transform 250ms ease-in-out; }
    .case-study .left-nav .return-to-start .icon:hover img {
      -webkit-transform: rotate(120deg);
      -ms-transform: rotate(120deg);
      transform: rotate(120deg); }
    .case-study .left-nav .grid-view .icon {
      height: 37px; }
    .case-study .left-nav .grid-view .icon svg {
      float: left;
      height: 37px; }
    .case-study .left-nav .grid-view .icon svg.part-1 {
      transition-delay: 0s;
      transition: transform 250ms ease-in-out; }
    .case-study .left-nav .grid-view .icon svg.part-2 {
      transition: transform 250ms ease-in-out;
      transition-delay: 135ms;
      padding: 0 4px; }
    .case-study .left-nav .grid-view .icon svg.part-3 {
      transition: transform 250ms ease-in-out;
      transition-delay: 275ms; }
    .case-study .left-nav .grid-view .icon:hover svg.part-1 {
      -webkit-transform: scale(1.15);
      -ms-transform: scale(1.15);
      transform: scale(1.15); }
    .case-study .left-nav .grid-view .icon:hover svg.part-2 {
      -webkit-transform: scale(1.15);
      -ms-transform: scale(1.15);
      transform: scale(1.15); }
    .case-study .left-nav .grid-view .icon:hover svg.part-3 {
      -webkit-transform: scale(1.15);
      -ms-transform: scale(1.15);
      transform: scale(1.15); }
  .case-study .left-nav .item:before {
    content: url("/app/assets/img/layout/case-studies/left-nav-line.svg");
    display: inline-block;
    margin-right: 10px;
    width: 40px;
    vertical-align: top; }
  .case-study article.cs-summary {
    height: 560px;
    width: 760px;
    float: right;
    background-color: #f2f2f2;
    -webkit-transform: translateX(700px) translateY(80px);
    -ms-transform: translateX(700px) translateY(80px);
    transform: translateX(700px) translateY(80px);
    transition: transform 500ms ease-in-out;
    z-index: 50;
    position: relative; }
    .case-study article.cs-summary.mouse-over {
      -webkit-transform: translateX(675px) translateY(80px);
      -ms-transform: translateX(675px) translateY(80px);
      transform: translateX(675px) translateY(80px); }
    .case-study article.cs-summary:hover .cs-navbar svg {
      -webkit-transform: translateX(-3px);
      -ms-transform: translateX(-3px);
      transform: translateX(-3px); }
    .case-study article.cs-summary:hover .cs-navbar .cs-arrow-body {
      -webkit-transform: scale(1.125);
      -ms-transform: scale(1.125);
      transform: scale(1.125); }
  .case-study article.cs-summary.active {
    -webkit-transform: translateX(0) translateY(80px);
    -ms-transform: translateX(0) translateY(80px);
    transform: translateX(0) translateY(80px); }
    .case-study article.cs-summary.active .cs-arrow svg {
      top: 18px;
      left: 45px;
      -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      transform: rotate(180deg);
      -webkit-transform-origin: left center !important;
      -ms-transform-origin: left center !important;
      transform-origin: left center !important; }
    .case-study article.cs-summary.active .cs-arrow .cs-arrow-body {
      left: -8px;
      -webkit-transform-origin: left center !important;
      -ms-transform-origin: left center !important;
      transform-origin: left center !important; }
    .case-study article.cs-summary.active:hover .cs-navbar svg {
      -webkit-transform: rotate(180deg) translateX(-3px);
      -ms-transform: rotate(180deg) translateX(-3px);
      transform: rotate(180deg) translateX(-3px); }
    .case-study article.cs-summary.active:hover .cs-navbar .cs-arrow-body {
      -webkit-transform: scaleX(1.125);
      -ms-transform: scaleX(1.125);
      transform: scaleX(1.125); }
  .case-study article .cs-navbar {
    width: 60px;
    height: 560px;
    float: left;
    background-color: #0d4a88;
    cursor: pointer; }
    .case-study article .cs-navbar .cs-arrow {
      border-bottom: 2px solid #ffffff;
      width: 60px;
      height: 60px;
      position: relative; }
      .case-study article .cs-navbar .cs-arrow svg {
        width: 24px;
        float: left;
        position: relative;
        top: 16px;
        left: 15px;
        -webkit-transform-origin: right center;
        -ms-transform-origin: right center;
        transform-origin: right center;
        transition: transform 225ms ease-in-out; }
      .case-study article .cs-navbar .cs-arrow .cs-arrow-body {
        float: left;
        width: 25px;
        height: 2px;
        position: relative;
        top: 28px;
        left: -6px;
        background-color: #fff;
        -webkit-transform-origin: right center;
        -ms-transform-origin: right center;
        transform-origin: right center;
        transition: transform 225ms ease-in-out; }
      .case-study article .cs-navbar .cs-arrow.no_time svg, .case-study article .cs-navbar .cs-arrow.no_time .cs-arrow-body {
        transition-duration: 0ms !important; }
  .case-study article .cs-navbar h1 {
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    width: 250px;
    position: absolute;
    font-size: 28px;
    letter-spacing: 0.125em;
    color: #ffffff;
    text-transform: uppercase;
    margin: 0 !important;
    top: 210px;
    left: -95px; }
  .case-study article .cs-copy {
    width: 700px;
    height: 560px;
    float: left; }
  .case-study article .cs-logo img {
    width: 140px;
    display: block;
    margin: 20px auto 0; }
  .case-study article .cs-copy .cs-text {
    text-align: left;
    width: 540px;
    margin: 0 auto;
    height: 250px;
    overflow: hidden; }
  .case-study article .cs-copy h3.cs-header {
    text-align: center;
    margin-bottom: 0 !important; }
  .case-study article .cs-copy h4.cs-subheader {
    text-align: center;
    margin-top: 0;
    margin-bottom: 30px; }
  .case-study article .cs-copy a.cs-read-more {
    font-size: 16px; }

.lock-pointer {
  pointer-events: none; }
@media (max-width: 1279px) {
  .case-study {
    display: none; } }