/*** Section 4.3 Skills ***/

#services-wrap{ 
	/*border-bottom: 1px double #e1e1e1;*/
	padding: 50px 0 95px 0;
	position: relative;
	-webkit-box-shadow: 0 -1px 4px 0 #d7d7d7;	
	   -moz-box-shadow: 0 -1px 4px 0 #d7d7d7;
	        box-shadow: 0 -1px 4px 0 #d7d7d7;
	}
#services-wrap > div{ 
	padding: 0;
	}	
#services-wrap hr{ 
	margin-top: 70px;
	border-color:#ffffff;
	}
.service{ 
	text-align:center;
	}
.service img{ 
	max-width: 150px;
	margin-bottom: 25px;
	/*margin-top: -28px;*/
	}
.section-title{ 
	margin: 25px 0 50px 0 !important;
	text-align: center;
	}
.service h4{ 
	position:relative;
	z-index: 10;
	width: 37px; 
	height: 37px; 
	color: white;
	line-height: 37px;
	text-align:center;
	background:red;
	border-radius:100%; 
	margin: 50px 0 0 0; 
	}
.service h5{ 
	width: 200px;
	margin: 0 auto;
	padding-bottom: 10px;
	border-bottom: 2px dotted #0d4a88;
	}
.service-description ul{ 
	width: 200px;
	margin: 0 auto;
	padding-left: 18px;
	font-size: .93em;
	}
.service-description ul li{
	padding-left: 8px; 
	line-height: 1.938em;
	letter-spacing: 0.045em;
	color: #888;
	}
#services p{ 
	width: 100%;
	margin: 30px auto 0 auto;
	line-height: 2.15em;	
	}
.bullet{ 
	width: 210px; 
	margin: 0 auto;
	}
@media only screen and (max-width:960px){ 
	.service img{ 
		max-width: 130px;
		}
	.service h4{ 
		width: 32px;
		height: 32px;
		line-height: 32px;
		}
	}
@media only screen and (max-width:767px){
	#services-wrap hr{
		width: 50%;
		margin-left: auto;
		margin-right: auto;
		margin-top: 0;
		float: none;
		}
	#services-wrap{ 
		padding-bottom: 40px;
	}
	.service{ 
		margin-bottom: 50px;
		}
	}
/* Custom Grid for Services */
.col-sm-11-1{ 
	position: relative; 
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px;
	float: left;
	}
.col-sm-11-3{ 
	position: relative; 
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px;
	float: left;
	}
@media only screen and (min-width:768px){ 
	.col-sm-11-3{ 
		width: 27.27272727%;
		}
	.col-sm-11-1{ 
		width: 5%;
		}
	}
@media only screen and (min-width:992px){ 
	.col-sm-11-3{ 
		width: 27.27272727%;
		}
	.col-sm-11-1{ 
		width: 5.5%;
		}
	}
@media only screen and (min-width:1205px){ 
	.col-sm-11-3{ 
		width: 27.27272727%;
		}
	.col-sm-11-1{ 
		width: 6.5%;
		}
	}
@media only screen and (min-width:1250px){ 
	.col-sm-11-3{ 
		width: 27.27272727%;
		}
	.col-sm-11-1{ 
		width: 6.6%;
		}
	}
@media only screen and (min-width:1360px){ 
	.col-sm-11-3{ 
		width: 27.27272727%;
		}
	.col-sm-11-1{ 
		width: 6.8%;
		}
	}
@media only screen and (min-width:1480px){ 
	.col-sm-11-3{ 
		width: 27.27272727%;
		}
	.col-sm-11-1{ 
		width: 7%;
		}
	}
@media only screen and (min-width:1730px){ 
	.col-sm-11-3{ 
		width: 27.27272727%;
		}
	.col-sm-11-1{ 
		width: 7.1%; 
		}
	}
