jum.jumbotron > .mobile-nav{
	margin-top: -30px;
	}
/*	Section 2.0 Main Navigation */
.page-nav-main, .nav-main{
	position: relative;
	z-index: 200;
	height: auto;
	padding: 0;
	background: #fff;
	  -webkit-box-shadow: 0 1px 4px 0 #d1d1d1;
	   -moz-box-shadow: 0 1px 4px 0 #d1d1d1;
	        box-shadow: 0 1px 4px 0 #d1d1d1;
	}
.page-nav-logo, .nav-logo{
	margin-bottom: 10px;
	}
.page-nav-logo img,.nav-logo img{
	width: 100px;
	padding-top: 10px;
	}
.page-nav-logo a, .nav-logo a{
	display: block;
	width: 100px;
	margin: 0 auto;
	}
.page-nav-main ul li a, .nav-main ul li a{
	color: #ccc;
	}
.page-nav-main ul, .nav-main ul{
	line-height: 30px;
	text-align: center;
	line-height: 60px;
	font-size: .938em;
	}
.page-nav-main ul li, .nav-main ul li{
	padding: 0 10px 0 10px;
	-webkit-transition: color .15s ease-in-out;
	-moz-transition: color .15s ease-in-out;
	-o-transition: color .15s ease-in-out;
	transition: color .15s ease-in-out;
	}
.page-nav-main ul li:hover, .nav-main ul li:hover{
	color: #54bce8;
	}
.page-nav-main ul li:first-child, .nav-main ul li:first-child{
	padding-left: 0;
	}
.page-nav-main ul li:last-child, .nav-main ul li:last-child{
	padding-right: 0;
	}
.page-nav-logo a{
	margin: 0 auto !important;
}
/***********/
/* Section 2.2 Alternative Navigation */

#selfie{
	width: 425px;
	margin: 70px 0 0 65%;
	}
#intro-text > h2{
	color: white;
	margin-left: 200px;
	text-shadow: 1px 9px 18px #1f2b74;
	text-transform: uppercase;
	}
.jumbotron{
	height: 600px;
	overflow: hidden;
	background-image: url("/app/assets/img/layout/hero/hero_img_nov_2015_bg-repeating-6.png");
	background-repeat: repeat-x;
	margin-bottom: 0;
	border-radius: 0 !important;
background-color: #283995; /* Old browsers */
background-color: -moz-linear-gradient(top,  #283995 0%, #4ea5dc 64%, #bfdcec 81%, #bfdcec 81%, #8ec745 82%, #49a047 100%); /* FF3.6-15 */
background-color: -webkit-linear-gradient(top,  #283995 0%,#4ea5dc 64%,#bfdcec 81%,#bfdcec 81%,#8ec745 82%,#49a047 100%); /* Chrome10-25,Safari5.1-6 */
background-color: linear-gradient(to bottom,  #283995 0%,#4ea5dc 64%,#bfdcec 81%,#bfdcec 81%,#8ec745 82%,#49a047 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#283995', endColorstr='#49a047',GradientType=0 ); /* IE6-9 */

	}
.banner{
	width: 93.75%;
	margin: 0 auto !important;
	}
.jumbotron > .nav-main{
	margin-top: -45px;
	background: transparent;
	 -webkit-box-shadow: none;
	   -moz-box-shadow: none;
	        box-shadow: none;
			}
.jumbotron > .nav-main > .nav-logo a{
	margin: 0;
	}
.jumbotron > .nav-main > .page-links > ul{
	text-align: right;
	}
.jumbotron > .nav-main > .page-links > ul > li > a{
	color: #ffffff;
	}
#roads, #hero-selfie, #hero-word-mark, #buildings-left, #buildings-right, #clouds-left, #clouds-right{
	display: inline-block;
	position: relative;
	margin-top: 30px;
	-webkit-transition: all 0.05s ease-in-out;
	   -moz-transition: all 0.05s ease-in-out;
		 -o-transition: all 0.05s ease-in-out;
			transition: all 0.05s ease-in-out;
	}
#roads{
	position: relative;
	top: -129px;
	left: -10%;
	width: 120%;
	-webkit-transition: all 0s ease-in-out;
	   -moz-transition: all 0s ease-in-out;
		 -o-transition: all 0s ease-in-out;
			transition: all 0s ease-in-out;
	}
	#roads > img{
		width: 100%;
	}
#hero-selfie{
	z-index: 101;
	width: 10px;
	left: 300px;
	}
	#hero-selfie > img{
		position: relative;
		top: -60px;
		width: 590px;
	}
#hero-word-mark{
	z-index: 100;
	width: 10px;
	}
	#hero-word-mark > img{
		position: relative;
		top: -160px;
		right: 70px;
		width: 460px;
		}
#buildings-left{
	z-index: 90;
	width: 10px;
	left: -32%;
	}
	#buildings-left > img{
		position: relative;
		top: 25px;
		width: 525px;
		}
#buildings-right{
	z-index: 91;
	width: 10px;
	right: -52%;
	}
	#buildings-right > img{
		position: relative;
		top: 50px;
		width: 320px;
		}
#clouds-left{
	z-index: 81;
	width: 10px;
	top: -200px;
	left: -42%;
	}
	#clouds-left > img{
		width: 400px;
		}
#clouds-right{
	z-index: 80;
	width: 10px;
	top: -180px;
	right: -35%;
	}
	#clouds-right > img{
		width: 460px;
		}
/******/
/******/
@media only screen and (max-width:1268px){
	#buildings-right{
		display: none;
		width: 0;
		}
	}
/******/
/******/
@media only screen and (min-width:768px) and (max-width:1024px){
	.nav-logo a{
		margin: 0px 10px 10px 10px!important;
	}
	.nav-logo img{
		width: 85px;
	}
	.nav-main ul{
		margin-top: 20px;
		font-size: .875em;
	}
	.nav-main ul li:last-child {
		padding-right: 12px;
	}
	#hero-word-mark{
		display: block;
		width: 390px;
		margin: -200px auto 0 auto;
		}
	#hero-word-mark > img{
		width: 390px;
		right:0;

		}
	#hero-selfie{
		top: -345px;
		left: 67%;
		}
		#hero-selfie > img{
			width: 500px;
			margin-bottom: 26px;
			}
	#buildings-left{
		top: 132px;
		left: -40%;
		}
		#buildings-left > img{
			width: 460px;
			}

	#clouds-left{
		top: -140px;
		left: -60%;
		}
		#clouds-left > img{
			width: 330px;
			}
	#clouds-right{
		top: -650px;
		right: -85%;
		}
		#clouds-right > img{
			width: 340px;
			}
	#buildings-right{
		display: none;
		visibility: hidden;
		}
	#roads{
		top: -497px;
		left: -20%;
		}
		#roads > img{
			width: 1200px;

			}
	}
/******/
/******/

/******/
/******/
@media only screen and (min-width:481px) and (max-width:767px){
	.jumbotron{
		height: 375px;
		background-image: url("/app/assets/img/layout/hero/hero_img_nov_2015_bg-repeating-5.png");
	}
	.nav-logo a{
		margin: 20px 10px 10px 10px!important;
	}
	.nav-logo img{
		width: 85px;
	}
	.nav-main ul{
		margin-top: 40px;
		font-size: .875em;
	}
	.nav-main ul li:last-child {
		padding-right: 12px;
	}
	#hero-word-mark{
		display: block;
		width: 260px;
		margin: -150px auto 0 auto;
		}
	#hero-word-mark > img{
		width: 290px;
		right:0;

		}
	#hero-selfie{
		top: -230px;
		left: 72%;
		}
	#hero-selfie img{
		width: 255px;
		}
	#buildings-left{
		top: 0px;
		left: -200px;
		}
		#buildings-left > img{
			width: 310px;
			}
	#buildings-right{
		top: -295px;
		right: -78%;
		}
		#buildings-right > img{
			width: 115px;
			}
	#clouds-left{
		top:-90px;
		left: -55%;
		}
	#clouds-left > img{
		width: 240px;
		}
	#clouds-right{
		top: -400px;
		right: -83%;
		}
	#clouds-right > img{
		width: 250px;
		}
	#roads{
		top: -364px;
		left: -20%;
		}
		#roads > img{
			width: 1200px;

			}
}


/******/
/******/
@media only screen and (max-width:480px){
	.jumbotron{
		height: 525px;
		background-image: url("/app/assets/img/layout/hero/hero_img_nov_2015_bg-repeating-4.png");
	}
	.nav-logo a{
		margin: 20px 10px 10px 10px!important;
	}
	.nav-logo img{
		width: 85px;
	}
	.nav-main ul{
		margin-top: 47px;
		font-size: .875em;
	}
	.nav-main ul li:last-child {
		padding-right: 12px;
	}
	#hero-word-mark{
		display: block;
		width: 300px;
		margin: -375px auto 0 auto;
		}
	#hero-word-mark > img{
		width: 300px;
		right:0;
		}
	#buildings-left{
		top: -80px;
		left: -650px;
		}
		#buildings-left > img{
			width: 670px;
			}
	#buildings-right{
		top: -295px;
		right: -78%;
		}
		#buildings-right > img{
			width: 115px;
			}
	#hero-selfie{
		top: -137px;
		left: 225px;
		}
	#hero-selfie img{
		width: 305px;
		}
	#clouds-left{
		top:-45px;
		left: -55%;
		}
	#clouds-left > img{
		width: 240px;
		}
	#clouds-right{
		top: -400px;
		right: -83%;
		}
	#clouds-right > img{
		width: 250px;
		}
	#roads{
		top: -269px;
		left: -80%;
		}
		#roads > img{
			width: 1200px;

			}
	}
@media only screen and (max-width:480px){
		#hero-selfie{
			left: 50%;
		}
	}
