/* 
Table of Contents - 
Section 1.0 -> Globals
Section 2.0 -> Main Nav
Section 3.0 -> Footer 
Section 4.0 -> Frontpage
Section 5.0 -> About & Resume
Section 6.0 -> Contact
Section 7.0 -> Single.php 
Section 8.0 -> Widgets

/* Section 1.0 Globals  ============================================================================= */

/*	Colors */
/*	
 *	Blue Backgrounds: #54bce8;
 *  Light Gray Text: #aaa
 *  Medium Gray Text: #888
 *  Gray Footer: #eee
 *  Gray Sidebar: #f1f1f1
 *  
 * 	Divider Blue: #0d4a88
 * 
 *  Button
 *  Lime Green: #6fc833
 * 	Standard Blue: #125eab
 * 	Hover Blue: #0d4a88
 * 
 */

.preloader{ 
	width: 1px;
	height: 1px;
	opacity: 0;
}
.preloader img{ 
	width: 1px;
	height: 1px;
}

/*! =======================================
// Clearfix
// =======================================*/
.group:before,
.group:after { content: ""; display: table; }
.group:after { clear: both; }
.group { zoom: 1; }

/*	Typography */
	
h1,h2,h3,h4,h5,h6,ul,li, a, p, strong, em, i, ul, li, b, dl, dt, dd, strong, bold, quote, label, input, textarea { 
	font-family: Tahoma, Verdana, Geneva, sans-serif;
	}
p, dl, ul, label{ 
	font-size: .983em;
	line-height: 1.65em;
	letter-spacing: .041em;
	}

b{ 
	letter-spacing: .0395em;
	}
h1,h2,h3,h4,h5,h6{ 
	margin-bottom: 15px !important;	
	line-height: 1.25em;
	letter-spacing: 0.025em;
	}

h1{ 
	font-weight: bold;
	font-style: normal;
	font-size: 2.75em; /* 16×2.75em=44 */
	}	
h2{ 
	font-weight: bold;
	font-size: 2.3125em; /* 16×2.3125em=37 */
	}
h3{ 
	font-weight: bold;
	font-size: 1.6875em; /* 16×1.6875=27 */
	}
h4{ 
	font-weight: normal;
	font-size: 1.4375em; /* 16×1.4375=23 */
	}
h5{ 
	font-weight: bold;
	font-size: 1.125em; /* 16×1.125=18 */
	}
h6{ 
	font-weight: normal;
	font-size: 1em; /* 16×1=16 */
	}
ul{ 
	padding-left: 0;
	}
@media only screen and (max-width: 767px){
	 p, dl, ul{ 
		font-size: .85em;
		line-height: 1.65em;
		letter-spacing: .031em;
		}
	h1,h2,h3,h4,h5,h6{ 
		letter-spacing: 0.00em;
		}
}
/*	Custom settings */
html, body{ 
	height: 100%;
	overflow-x: hidden;
	}
header *{ 
	 transition:all .2s linear; 
    -o-transition:all .2s linear; 
    -moz-transition:all .2s linear; 
    -webkit-transition:all .2s linear;
}
.maincontent{ 
	width: 100% !important;
}
.maincontent{ 
	position: relative;
	margin: 0 auto !important;
	}
.maincontent:after{
	content:"";
	display:block;
	}
.horizontal-line{ 
	height: 10px;
	background:#0d4a88;
}
.horizontal-line.headline{
	height: auto;
	background: transparent;
	border-top: 10px solid #0d4a88; 
}
.horizontal-line p.header{
	height: 45px;
	font-size: 22px;
	color: #ffffff;
	padding-left: 40px;
	padding-right: 40px;
	margin-bottom: 0; 
	max-width: 280px;
	background:#0d4a88;
}
.horizontal-line + {
	
}
.spacer{
	display: block; 
	margin-bottom: 30px;
	clear: both;
	border-bottom: 1px solid #eee;
	}
.custom-button{ 
	display: block;
	height: 75px;
	text-align: center;
	line-height: 65px;
	font-family: Tahoma, Verdana, Geneva, sans-serif;
	font-size: 20px;
	letter-spacing: 0.04em;
	border: none;
	padding:5px 10px;
	background: #125eab;
	color: white;
	transition: background-color 150ms ease-in-out, width 200ms ease-in-out;
	width: 100%;
	font-weight: 400;
	}
@media(max-width:1280px){ 
	.custom-button{ 
		font-size: 16px;
	}
}
.custom-button:hover{ 
	background-color: #0d4a88;
	color: white;
	text-decoration: none;	
	}
.mysidebar .custom-button:hover{ 
	width: 107%;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	}
.custom-button-nav:hover{ 
	background-color: #0d4a88;	
	}
.custom-button:focus{ 
	color:#ffffff;
	text-decoration: none;
	}
.custom-button.highlight-cat{ 
	width:107%;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	padding-left:0;
	}
.custom-button.highlight-cat:hover{ 
	width: 107%;
	}
.md-button{  
	width: 195px;
	margin: 0 auto;
}
/*	Section 3.0 Footer */
footer{
	position: relative;
	z-index: 3005;
	padding: 55px 0 80px 0 !important;
	background: #f1f1f1;
	-webkit-box-shadow: 0 3px 0 0 rgba(63,169,245,.7);	
	   -moz-box-shadow: 0 3px 0 0 rgba(63,169,245,.7);
	        box-shadow: 0 3px 0 0 rgba(63,169,245,.7);
	}
#logo-footer{
	display: block; 
	}
#logo-footer img{
	width: 100%;
	display: block; 
	min-width: 70px;
	margin: -8px auto 0 auto;
	}
#footer-container{ 
	margin: 0 auto;
	color: #444;
	}
#footer-container a, #footer-container li{ 
	list-style: none;
	}
#footer-container li{ 
	color: #444;
	}
#social-links{ 
	padding-left:25px !important;
	}
#footer-container a{ 
	color: #337AB7;
	}
#footer-container a:hover{ 
	text-decoration: underline;
	}
#footer-nav, #social-links{ 
	padding: 0;
	}
#address, #footer-nav, #social-links, #description{ 
		margin-top: 20px;
		font-size: 0.9em;
		line-height: 1.5em;
	}
@media only screen and (max-width: 768px){ 
	#address, #footer-nav, #social-links, #description{ 
		margin-top: 20px;
		font-size: 0.825em;
	}
}
@media only screen and (max-width: 1024px){ 
	#description p{ 
		display: none;
	}
	#description #copyright{ 
		display: inline-block;
	}
}
@media screen and (max-width: 1090px){
	.custom-button span{ 
	width: 80px;
    display: block;
    line-height: 30px;
    margin: 0 auto;
	
	}
}
@media only screen and (max-width: 767px){ 
	#footer-container{ 
		width: 75%;
		}
	#logo-footer img{ 
		width: 120px;
		margin: 0 auto;
		}
	#address, #footer-nav, #social-links, #description{ 
		text-align: center !important;
		margin-top: 20px;
		font-size: 0.825em;
		}
	#footer-nav ul li, #social-links ul li{ 
		line-height: 2.25em;
		}
	#social-links{ 
		padding-left: 0 !important;
		}
	#description p:first-child, #description p:nth-child(2){ 
		display: none;
		visibility: hidden;
		}
	#footer-container a{ 
		text-decoration: underline;
		}
	}	
/*** Page Navigation ***/
.back-to-top{ 
	position: fixed; 
	display: block !important;
	top: inherit;
	right: 0;
	bottom: 0;
	z-index: 3010;
	width: 60px;
	height: 56px;
	text-align: center;
	line-height: 55px;
	color: #ffffff;
	background: #125eab;
	}
.next-project, .prev-project{ 
	position: fixed;
	z-index: 3010;
	width: 60px;
	color: #ffffff;
    background: #125eab;
    padding: 20px;
    font-weight: bold;
	}
.prev-project{ 
	right: 0;
	margin-top: 320px;
    padding-left: 23px;
	}
.next-project{ 
	right: 0;
	margin-top: 260px;
	}
.back-to-top:hover, .prev-project:hover, .next-project:hover{ 
	background: #0d4a88;
	}
@media only screen and (max-width:1024px){ 
	.next-project, .prev-project{ 
		width: 40px;
		padding: 12px;
	}
	.prev-project{ 
		margin-top: 305px;
	}
	.back-to-top{ 
		width: 50px;
		height: 50px;
		line-height: 50px;
	}
}

/*  Pages  ================================================================== */

/*  Section 4.0 Frontpage 
============================================================================= */
#project-here:after{ 
	content: "";
	display: block;
	clear: both;
}
/** Section 4.1 Service Bar**/
.service-bar{ 
	display: block;
	}

/** Section 4.2.1 Sidebar **/
.sidebar-fixed{ 
	position: fixed;
	}
.category-select{ 
	margin-bottom: 3px;
	}
.highlight-cat{ 
	background-color: #6fc833 !important;
	}
.frontpage .mysidebar{ 
	padding-top: 70px;
	padding-left: 0;
	padding-right: 0;
	}
.frontpage .projects{ 
	padding-top: 70px;
	background:#e9eaed; 
	padding-bottom: 100px; 
	min-height: 727px;
	box-shadow: inset 2px 3px 5px #c9c9c9;
	
	}
.mysidebar{ 
	background: #ffffff;
	margin:0 0 0 0 !important; 
	padding-top: 50px;
	}
.category-select{ 
	cursor: pointer;
	}
#sidebar-wrap{ 
	position: absolute;
	width: 100%; 
	z-index: 1;
	}
.mysidebar .custom-button:last-child{ 
	margin-bottom: 1px;
	}
@media only screen and (max-width: 1280px){ 
	.frontpage .projects{ 
		padding-top: 55px;	
		}	
	}
@media only screen and (min-width: 992px){
	.projects.col-md-10{ 
		width: 83%;
		padding-right: 351x;
		padding-left: 35px;
		}
	.mysidebar.col-md-2{
		width: 17%;
		}
	}
@media only screen and (max-width:1100px){ 
/*
	.mysidebar{ 
		visibility: hidden;
		display: none;
		}
*/
	.mysidebar.col-md-2{ 
		width: 85%;
		float: none;
		}
	.projects.col-md-10{ 
		padding-left:15px;
		}
	.mysidebar .custom-button{
		float: left;
		}
	.mysidebar {
		height: 55px;
	    margin: 50px 0;
	    width: 80%;
	    margin: 40px auto !important;
		}
	.frontpage .mysidebar{
		padding-top: 0;
		}
	.mysidebar .custom-button{ 
		float: left;
		width: 31%;
		}
	.mysidebar .custom-button{ 
		font-size: 16px;
		font-weight:400;
		}
	.mysidebar .custom-button span{
		line-height: 55px;
		width: 100%;
		}
	.mysidebar .custom-button{ 
		line-height: 55px;
		height: 55px;
		padding: 0;
		border-radius: 5px;
		}
	.mysidebar .custom-button:hover{ 
		width: 31%;
		}
	.mysidebar .custom-button.highlight-cat{
		background-color: #6fc833;
		width: 31%;
		}
	.mysidebar .custom-button.active:hover{ 
		background-color: #6fc833;
		}
	.mysidebar .custom-button:nth-child(2){
		margin: 0 3.5%;
		} 

	.projects{ 
		width: 100% !important;
		}
	}
/** Section 4.2.2 Project Cards **/
.listed{ 
	margin-bottom: 17px;	
	}
.listed:hover{
	cursor: pointer;
}

.more-projects-container{ 
	position: relative; 
	z-index: 3005;
	background:#e9eaed; 
	padding-bottom: 50px;
	}
.inline-wrap {
	height: 55px;
    margin: 50px 0;
    width: 80%;
    margin: 40px auto 40px;
    
	}
.inline-wrap .custom-button{ 
	float: left;
	width: 31%;
	}
.inline-wrap .custom-button{ 
	line-height: 55px;
	height: 55px;
	padding: 0;
	border-radius: 5px;
	}
.inline-wrap .custom-button.highlight-cat{
	background-color: #6fc833;
	width: 31%;
	}
.inline-wrap .custom-button.active:hover{ 
	background-color: #6fc833;
	}
.inline-wrap .custom-button:nth-child(2){
	margin: 0 3%;
	} 

.more-projects-wrap{ 
	clear:both;
	max-width: 1200px;
	}
.more-projects-wrap .listed{ 
	padding-left: 0;
	padding-right: 0;
	width: 32.15%; 
	}

.more-projects-wrap .listed:nth-child(3n+2){
	margin-left: 1.5%;
	margin-right: 1.5%;
	}
@media (max-width:800px){ 
	.more-projects-wrap .listed{ 
		width: 48%;
	}
	.more-projects-wrap .listed:nth-child(3n+2){
		margin-left: 0;
		margin-right: 0;
	}
	.more-projects-wrap .listed:nth-child(2n+2){ 
		margin-left: 3%;
	}
	.inline-wrap {
		width: 100%;	
	}

}

@media (max-width:500px){
	
	.inline-wrap{ 
		height: auto;
	}
	.mysidebar{
		height: 180px;
		margin: 15px auto !important;
	}
	
	.mysidebar .custom-button,
	.mysidebar .custom-button.highlight-cat,
	.more-projects-container .inline-wrap .custom-button, 
	.more-projects-container .inline-wrap .custom-button.highlight-cat
	{ 
		width: 100%;
		margin-bottom: 5px !important;
		float: none;
		margin-left: 0 !important;
	}
	.mysidebar .custom-button:hover,
	.mysidebar .custom-button.highlight-cat:hover{ 
		width: 100%;
	}
	.more-projects-wrap .listed{ 
		float: none;
	}
	
}
.project-link{ 
	text-decoration: none !important;
	transition: top 300ms ease-in-out;
	top: 0;
	}
.featured-project{ 
	background: #fafafa;
	box-shadow: 0 1px 2px 1px #cdcdcd;
	transition: box-shadow 265ms ease-in-out, top 265ms ease-in-out;
	top: 0;
	position: relative;
	}

.project-link:hover .featured-project{ 
	top: -7px;
	}
.project-link:hover .featured-project{ 
	box-shadow: 0px 20px 20px -14px #a9a9a9;
	}


.img-container{
	overflow-y: hidden;
	overflow-x: hidden;
	background-color: #fff;	height: 100%;
	max-height: 280px;
	}
.img-container img{ 
	position: relative;
	width: 100%;
	}
.txt-container{ 
	position: relative;
	z-index: 100;
	padding: 10px 7px 0 7px;
	border-top: 1px solid #f7f7f7;
	}
.txt-container .title h6{ 
	color: #111111;
	line-height: 1.4em;
	}

.featured-project .title{
	height: 50px;
	overflow-y: hidden; 
	margin: 0 !important;
	padding-bottom: 15px;
	}
.featured-project .title h6{ 
	margin: 0;
	font-family: Verdana, sans-serif;
	font-size: 0.825em;
	letter-spacing: .03em;
	}
.featured-project .industry{ 	
	margin-bottom: 0;
	font-family: Arial, Helvetica, sans-serif;
	}
.featured-project .project-category{ 
	margin: 0 !important;
	padding: 5px 0 5px 0;
	border-top: 1px dotted #aaa;
	color: #aaa;
	text-decoration: none !important;
	font-size: 0.825em;
	}

@media only screen and (max-width:1280px){ 
	.txt-container .title h6{
		font-size: .775em !important;
		}	
	}
@media only screen and (max-width: 960px){ 
	.project-link:hover{ 
		top: 0;
		}
	.project-link:hover .featured-project{ 
		box-shadow: 0 1px 2px 1px #cdcdcd;
		}
	}
@media only screen and (min-width:768px){ 
	.more-projects-wrap{
/* 		width: 691px !important; */
		float: none !important;
		margin: 15px auto 35px auto !important;
	}	
	.frontpage #project-here a:nth-child(4){ 
		clear: both;
	}
}
@media only screen and (max-width:767px){
	#project-here a:nth-child(3){ 
		clear: both;
	}	
}
@media only screen and (max-width:500px){ 

	.frontpage .projects{ 
		padding: 50px 0 50px;
		}
	.projects-inner-wrap{ 
		margin: 0 auto;
		width: 95%;
		}
	.listed{ 
		width: 100%;
		}
	.listed.project-link:hover .featured-project{ 
		top: 0 !important;
		}
	.featured-project{ 
		width: 100%;
		}
	.featured-project:after{ 
		content: "";
		display:table;
		clear: both;
		}
	.img-container, .txt-container{ 
		float: left;
		width:50%;
		height: auto;
		}
	.img-container img{ 
		height: auto;
		}
	.txt-container{ 
		border-top: none;
		max-height: 150px;
		}
	.txt-container:after{ 
		content: "";
		display:table;
		clear: both;
		}
	.featured-project .title{
		height: auto; 
		padding-bottom: 55%;
		}
	.featured-project .project-category{ 
		position: absolute;
		bottom: 0; 
		width: 90%;
		}
	.more-projects-container .custom-button { 
		margin-left: 7px !important;
		margin-right: 7px !important;
	}
	
}
@media only screen and (max-width: 420px){ 
	.txt-container{ 
		max-height: 120px;
		}
}
@media only screen and (max-width: 360px){ 
	.txt-container{ 
		max-height: 100px;
		}
	.featured-project .project-category{ 
		font-size: 10px;
		}
	.featured-project .txt-container .title h6{ 
		font-size: 10px !important; 
		line-height: 18px;
		}
}
/*** Section 4.4 Testimonials ***/ 
#testimonials{ 
	position: relative;
	margin-bottom: -10px;
	z-index: 100;
	text-align: center;
	padding: 75px 0 100px 0;
	margin-bottom: 0px;
	background: #0d4a88;
	/*background-image: url(\/app/assets/img/layout/pattern8.png );*/
/*
	  -webkit-box-shadow: 0 -2px 4px 0 #c1c1c1;	
	   -moz-box-shadow: 0 -2px 4px 0 #c1c1c1;
	        box-shadow: 0 -2px 4px 0 #c1c1c1;
*/
/* 	background: linear-gradient(135deg, #125eab 0%,#0d4a88 100%); */ /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
/* filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#125eab', endColorstr='#0d4a88',GradientType=1 );  *//* IE6-9 fallback on horizontal gradient */
}
#testimonials > article{ 
	margin: 0 auto;
	float: none;

}
#testimonials > article > img{ 
	width: 160px;
}
#testimonials > article > h3{ 
	margin: 25px 0 10px 0 !important;
	color: #ffffff;
}
.endorsement{ 
	width: 740px;
	height: 100%;
	margin: 0 auto;
	position: relative;
	top: 0;
	box-shadow:0px 8px 34px -6px rgba(0,0,0,0);
	transition: box-shadow 250ms ease-in-out 2200ms;
}
.tab.active .endorsement{ 
	box-shadow:0px 8px 34px -6px rgba(0,0,0,0.90);
}
.endorsement > p{ 
	margin: 0 !important;
	min-height: 100px;
	text-align: center;
	font-size: 18px;
	line-height: 32px;
	letter-spacing: .0775em;
	color: transparent;
	opacity: 0;
	padding: 40px;
	background: #0d4a88;
	transition: background 400ms ease-in-out 1850ms, opacity 400ms ease-in-out 1600ms, color 400ms ease-in-out 2500ms;
}
.endorsement > h6{ 
	height: 100%;
	margin: 0 !important;
	padding: 20px 40px;
	text-align: center;
	color: transparent;
	font-size: 1em;
	letter-spacing:.09em;
	line-height: 1.5em;
    font-weight: bold;
    opacity: 0;
    background-color: #0d4a88;
    transition: background 400ms ease-in-out 1850ms, opacity 400ms ease-in-out 1600ms, color 400ms ease-in-out 2500ms;
}
.endorsement > h6 span{ 
	font-weight: 300;
	font-size: 0.9375em;
	 opacity: 0;
    transition: background 400ms ease-in-out 1850ms, opacity 400ms ease-in-out 1600ms, color 400ms ease-in-out 2500ms;
}
.tab.active .endorsement > p{ 
	opacity: 1;
	background-color: #fafafa;
	color: black; 
}
.tab.active .endorsement > h6{ 
	opacity: 1;
	background-color: #f0f0f0;
	color: black; 
}
.tab.active .endorsement > h6 span{ 
	opacity: 1;
	color:#888;
}

#endorsement-tabs{ 
	height:420px;
}
#endorsement-tabs .tab[data-id="1"]{
	top: 180px;
}
#endorsement-tabs .tab[data-id="4"]{
	top: 195px;
}
#endorsement-tabs .tab[data-id="2"]{
	top: 195px;
	
}
#endorsement-tabs .tab[data-id="3"]{
	top: 200px;
	
}

#endorsement-tabs .tab.active[data-id="1"]{
	top: 170px;
}
#endorsement-tabs .tab.active[data-id="4"]{
	top: 180px;
}
#endorsement-tabs .tab.active[data-id="2"]{
	top: 180px;
}
#endorsement-tabs .tab.active[data-id="3"]{
	top: 185px;
}

#endorsement-tabs ul{
	position: relative; 
	top: 380px;
}
#endorsement-tabs .tab{
	position: absolute; 
	opacity: 0;
	transition: opacity 300ms ease-in-out 500ms, top 800ms ease-in-out 2000ms;
}
#endorsement-tabs .tab.active{ 
	opacity: 1;
	
}
.endorsement::before, .endorsement::after {
  border:1px solid transparent;
  position: absolute;
  width: 0;
  height: 0;
}
.endorsement::before {
	content:""; 
  top: 0;
  left: 0;
}
.endorsement::after {
	content:"";
    bottom: 0;
	right: 0;

}
.tab.active .endorsement:before, .tab.active .endorsement:after {
  width: 100%;
  height: 100%;
}
.tab.active .endorsement:before {
  border-top-color: #fafafa;
  border-right-color: #fafafa;
  transition: width 250ms ease-out 750ms, height 250ms ease-out 1000ms;
}
.tab.active .endorsement:after {
  border-bottom-color: #fafafa;
  border-left-color: #fafafa;
  opacity: 1;
  transition: border-color 0s ease-out 1175ms, width 400ms ease-out 1200ms, height 250ms ease-out 1600ms;
}
#endorsement-tabs ul{ 
	
	cursor: pointer;
}
#endorsement-tabs ul li{ 
	display:inline-block;
	height: 65px;
	width: 65px;
	margin: 5px;
	
}
#endorsement-tabs ul li a{ 
	display: block;
	text-decoration: none;
	list-style: none;
	height: 65px;
	width: 65px;
	border-radius: 100%;
	background-color: #125eab;
	color:#ffffff;
	font-weight: bold;
	font-size: 1.125em;
	line-height: 65px;
	box-shadow:0px 8px 34px -6px rgba(0,0,0,0.75);
	transform: scale(1);
	transition: color 150ms ease-in-out, background 150ms ease-in-out, transform 150ms ease-in-out;
}
#endorsement-tabs ul li a:focus, #endorsement-tabs ul li:focus{ 
	outline:none !important;	
}
#endorsement-tabs ul li a:hover{ 
	background:#125eab; 
	color: #ffffff ;
	transform: scale(0.9);
}
#endorsement-tabs ul li.active > a { 
	background:#6fc833 !important; 
	color: #ffffff !important;	
}
#quote-left, 
#quote-right{ 
	position: absolute;
	width: 25vw !important; 
	opacity: 0.3;
	}
#quote-left{ 
	top: 2%; 
	left: 0%;
	}
#quote-right{ 
	bottom: -2%; 
	right: 0%;
	}
@media (max-width:1024px){
	#testimonials br.mobile-hide{
		display: none;
	}
	#testimonials{
		height: 760px;
	}
	.tab{
		padding-left:0;
		padding-right:0;
	}
	.endorsement{
		width: 700px;
	}
	#quote-right{
		bottom:-18%;
	}
	#quote-left{ 
		top: 0%;
	}
	#endorsement-tabs .tab.active[data-id="1"]{
		top: 150px;
	}
	#endorsement-tabs .tab.active[data-id="2"]{
		top: 160px;
	}
	#endorsement-tabs .tab.active[data-id="3"], 
	#endorsement-tabs .tab.active[data-id="4"]{
		top: 180px; 
	}
}
/* Section 5.0 About Me Page & Resume
============================================================================= */
 .about-me, .resume{ 
	margin: 50px auto 160px auto !important;
	float: none !important;
	}
 .about-me img, .resume img{ 
 	display: block;
	margin: 0 auto 40px auto !important;
	width: 65%;
	}
.about-me .text, .resume .text{ 
	margin-top: 50px;
	}
.about-me h6, .resume h6{ 
	margin-bottom: 30px !important;
	font-weight: bold;
	}
.about-me p, .resume p{ 
	margin-bottom: 20px;
	}
.about-me span .resume span{
	margin-bottom: 30px;
	}

@media only screen and (max-width:540px){ 
	.resume img{ 
		width: 250px;
	}
}
@media only screen and (min-width:541px){ 
	.resume img{ 
		width: 300px;
	}
}
/* Section 6.0 Contact Page
============================================================================= */
 #contact{ 
	background: #ff0000; 
 	}
 #contact-insignia{ 
 	margin-left: 4%;
	padding: 0; 
 	}
 #contact-insignia img{ 
	 width: 100%;
	 }
 .contact-me{ 
	 display: block;
	 max-width: 550px;
	 margin: 50px auto 80px auto !important;
	 float: none !important;
	 border: 4px solid #ced3db;
	 border-radius: 4px;
	 padding: 25px;
	 }
@media only screen and (min-width: 520px){ 
	#contact-insignia{ 
		max-width: 100px;
		}
	#contact-insignia img{ 
		max-width: 100px;
		}
}
@media only screen and (max-width:545px){ 
	#contact-insignia{ 
		margin-left: 0;
		}
}
form{
    margin:0;
	font-family: Tahoma, Verdana, Geneva, sans-serif;
	}
form label{ 
	font-family: "Lucida Grande", Lucida, Verdana, sans-serif;
	display:block;
	margin: 20px 0;
	letter-spacing: 0.01em;
	}
form label.error {
	position: relative;
	z-index: 10;
	margin: 0 0 1em 0;
    font-size:1.125em;
    line-height:1.2em;
    color:#c0392b;   
}
form input[type="text"],
form input[type="password"],
form input[type="date"],
form input[type="datetime"],
form input[type="datetime-local"],
form input[type="month"],
form input[type="week"],
form input[type="email"], 
form input[type="number"], 
form input[type="search"], 
form input[type="tel"], 
form input[type="time"], 
form input[type="url"], 
form textarea {
    font-family: Tahoma, Verdana, Geneva, sans-serif;
    font-size:14px;
    line-height:14px;
    font-size:1.125rem;
    line-height:1.125rem;
    box-shadow:none;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    background:#fff;
    border: 2px solid #ced3db !important;
    padding: 10px;
    -webkit-appearance: none;
	-moz-appearance: none;
	}
#email, #name, #email-error, #name-error{ 
	width: 100%;
	}
#subject{ 
	width: 100% !important;
	}
#message{ 
	width: 100% !important;
	min-height: 100px;
	}
#answer{ 
	width: 100% !important;
	}
#email, #name, #subject, #message{ 
	margin-bottom: 10px;
	}
form input[type="text"]:focus, 
form input[type="password"]:focus, 
form input[type="date"]:focus, 
form input[type="datetime"]:focus, 
form input[type="datetime-local"]:focus, 
form input[type="month"]:focus, 
form input[type="week"]:focus, 
form input[type="email"]:focus, 
form input[type="number"]:focus, 
form input[type="search"]:focus, 
form input[type="tel"]:focus, 
form input[type="time"]:focus, 
form input[type="url"]:focus, 
form textarea:focus {
	-webkit-appearance: none;
	-moz-appearance: none;
    box-shadow:none;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
	}
form input[type="text"].error, 
form input[type="password"].error, 
form input[type="date"].error, 
form input[type="datetime"].error, 
form input[type="datetime-local"].error, 
form input[type="month"].error, 
form input[type="week"].error, 
form input[type="email"].error, 
form input[type="number"].error, 
form input[type="search"].error, 
form input[type="tel"].error, 
form input[type="time"].error, 
form input[type="url"].error, 
form textarea.error {
    background:#e6e6e6;
    border-color:#c0392b;
    -webkit-appearance: none;
	-moz-appearance: none;
	}
fieldset {
    border:0px;
    margin:0;
    padding:0;
	}
.required {
    color:#e9266d;
	}
#success, #error {
    display:none;
	}
#success span, #error span {
    display:block;
    position:absolute;
    margin: 0 auto;
    top:0;
    width:500px;
    font-size: 1.5em;
	}
@media only screen and (max-width:767px){ 
	#success span, #error span{ 
		width: 350px;	
		}
	#success span p, #error span p {
    	font-size: 1.125em;
		}	
}
#success span p, #error span p {
    margin-top:6em;
}
#success span p {
    color:#6cad6b;
}
#error span p {
    color:#c0392b;
}	
.textcenter p a{ 
	color: #54bce8;
}
.textcenter p a:visited{  
	color: #54bce8;
}
.textcenter p a:hover{ 
	color: #2ba6cb;
}
/* Section 7.0 Single Page
============================================================================= */
/*** Section 7.1 Slider ***/
/*========================*/
.img-wrap{ 
	margin: 0 auto;
	}
.project-slider img{ 
	width: 100%;
	}
/*** Section 7.2 Globals ***/
/*========================*/
.single-project{ 
	float: none !important;
	margin:0 auto !important;
	padding-top:35px;
	padding-bottom: 75px;
	}
@media only screen and (min-width: 1440px){ 
	.single-design{ 
		max-width: 62%;	
	}
}
@media only screen and (max-width: 990px){
	.single-project .mobile-center-text{
		text-align: center;
	}
}
.single-summary .textbox{ 
	margin-bottom: 25px;
	font-size: .938em;
	}
.single-summary .textbox h6{ 
	margin-bottom: 5px !important;
	}
.single-summary .textbox h5{ 
	margin-bottom: 29px !important;
	}
.project-category, .single-summary{ 
	margin-left: 0 !important;
	}	
.project-category{ 
	color: #aaa;
	}
.project-category p:nth-child(2){ 
	margin-bottom: 0;
	}
.project-category p:nth-child(2), .project-category p:nth-child(3){ 
	font-size: 0.813em;
	}
.project-name{
	color: #aaa;
	margin: 0 0 45px 0;
	}
.project-name .title, .textbox h5{ 
	margin-top: 30px;
	}
.project-name .subtitle{ 
	margin: 0 0 10px 0 !important;
	color: #aaa;
	font-weight: normal;
	}
.project-name .title{ 
	font-weight: bold;
	}
.single-summary-sidebar > .textbox{ 
	margin-bottom: 35px;
	}
.space-images img{ 
	margin-bottom: 100px;
	}
.space-images img:last-child{ 
	margin-bottom: 0;
	}
	
@media only screen and (max-width: 1024px){ 
	.project-name{ 
		margin-bottom: 15px;
	}
}
/*** 7.3 Interactive Single Page ***/
/*=================================*/	
.interactive-wrap > .single-project > hr{
	margin-top: 35px;
	margin-bottom: 0;
	border-top: 1px solid #c1c1c1;
}
.interactive-wrap{
	background:#e9eaed; 
	}
.interactive-projects{ 
	margin-top: 30px;
	}
.interactive-description > .project-name{ 
	margin-bottom: 20px !important;
	margin-top: 20px !important;
	}
.interactive-description > .visit-site > a{ 
	text-decoration: none;
	}
.interactive-description > .project-name > .title{ 
	margin-top: 0px;
	}
.interactive-description > .visit-site{ 
	margin-top: 30px;
	margin-bottom: 30px;
	}
.interactive-projects img { 
	width: 100%;
	}
.interactive-projects > hr{ 
	display: block;
	border-color: #c1c1c1;
	clear: both;
	}
@media only screen and (min-width:1550px){ 
		.projects-inner-wrap, .interactive-projects{
			width: 1200px;
			margin-left: auto;
			margin-right: auto;
		}	
	}
@media only screen and (max-width:1549px)and (min-width:1281px){ 		
		.projects-inner-wrap, .interactive-projects{
			width: 1025px;
			margin-left: auto;
			margin-right: auto;
		}	
	}
@media only screen and (max-width:1080px){ 
		.interactive-description .role{ 
			display: none;
			visibility: hidden;
			height: 0; 
			width: 0;
		}	 
	}
@media only screen and (max-width:1280px) and (min-width:1024px){ 
		.projects-inner-wrap, .more-projects-wrap{
			max-width: 961px;
			float: none;
			margin: 15px auto 35px auto;
		}	
		.interactive-projects{ 
			max-width: 960px;
			float: none;
			margin: 15px auto 35px auto;
		}
		.interactive-description > .project-name > .title{ 
			margin-top: 10px;
		}
	}
@media only screen and (max-width: 1025px) and (min-width:768px){ 
		.projects-inner-wrap, .more-projects-wrap{
			max-width: 760px;
			float: none;
			margin: 15px auto 35px auto;
		}	
		.interactive-projects{ 
			max-width: 960px;
			float: none;
			margin: 15px auto 35px auto;
		}
		.interactive-description > .project-name > .title{ 
			margin-top: 10px;
		}	
}
@media only screen and (max-width: 767px) and (min-width: 501px){ 
		.projects-inner-wrap, .more-projects-wrap{
			width: 95%;
			float: none;
			margin: 25px auto 35px auto;
		}
		.interactive-projects{ 
			max-width: 540px;
			float: none;
			margin: 25px auto 35px auto;
		}	
	}
@media only screen and (max-width: 767px){ 
	.interactive-description > .project-name > .title{ 
		margin-top: 15px;
		}
	.interactive-description > .visit-site{ 
		margin-bottom: 0;
		}
}
/*  Section 8.0 Widgets & Plugins ============================================================================= */
/* 
 *  Project Counter & Client List Styles
 *	Include '/parts/widget-projectcounter.php' in 'sidebar.php'
 *	Include '/parts/widget-projectcounter.php' in 'sidebar.php'
 *
 */
.widget-title{ 
	margin-top: 5px;
	margin-bottom: 35px !important;
	}
.category{ 
	margin: 10px 0;
	border-bottom: 1px dotted #c0c0c0; 
	}
.cat-title{
	width: 50%;
	text-align: left;
	padding-bottom: 20px;
	font-weight: normal;

	}
.cat-num{ 
	width: 47%;
	text-align: right;
	padding-bottom: 20px;
	}
.cat-title, .cat-num{
	vertical-align: bottom;
	padding: 20px 0 10px 0;
	display: inline-block;
	color: #888;
	}
